{{#each carousel.slides}}
    {{#if @first}}
    <div class="home-carousel-wrap">
        <div class="home-carousel-cont">
            <div class="hero-img-cont">
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='128w'
                    lazyload='disabled'
                }}
            </div>
            <div class="container">
                <section class="heroCarousel">
                    <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}stretch{{/if}} {{#if @first}}heroCarousel-slide--first{{/if}}">
                        <div class="heroCarousel-image-wrapper">
                        </div>
                        <a href="{{url}}" aria-label="Slide{{@index}}">
                            {{#if heading}}
                            {{> components/carousel-content show_background=true}}
                            {{else}}
                            {{#if text}}
                            {{> components/carousel-content show_background=true}}
                            {{else}}
                            {{#if button_text}}
                            {{> components/carousel-content show_background=false}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    {{else}}
    <!-- Do nothing -->
    {{/if}}
{{/each}}