{{#each carousel.slides}}
    {{#if @first}}
    <div class="home-carousel-wrap">
        <div class="home-carousel-cont">
            <div class="hero-img-cont">
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='128w'
                    lazyload='disabled'
                }}
            </div>
            <div class="hero-content-cont">
                <div class="container heroCarousel-slide">
                    <a href="{{url}}" aria-label="Slide{{@index}}">
                        {{#if heading}}
                        {{> components/carousel-content show_background=true}}
                        {{else}}
                        {{#if text}}
                        {{> components/carousel-content show_background=true}}
                        {{else}}
                        {{#if button_text}}
                        {{> components/carousel-content show_background=false}}
                        {{/if}}
                        {{/if}}
                        {{/if}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <!-- Do nothing -->
    {{/if}}
{{/each}}