<article class="card {{#if alternate}}card--alternate{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>

        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        {{#if settings.data_tag_enabled}}
                            <a class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{else}}
                            <a class="button button--small card-figcaption-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
                        {{/if}}
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                        {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        {{/if}}
                        {{#if pre_order}}
                            <a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                        {{/if}}
                        {{#if add_to_cart_url }}
                            <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                        {{/if}}
                        {{#if out_of_stock_message }}
                            <a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </figcaption>

        {{> components/products/product-card-icons }}

        <div class="wishlist-grid-view">
            {{> components/common/wishlist-dropdown}}
        </div>
    </figure>
    <div class="card-details">
        <div class="card-body">
            <div class="card-title-cont">
                <h4 class="card-brand">{{#if brand.name}}{{brand.name}}{{/if}} Domaine Parent Bourgogne</h4>
                <h3 class="card-title">
                    <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
                </h3>
            </div>

            <div class="card-desc-cont">
                {{summary}}
                <a href="{{url}}" class="card-read-more">Read more</a>
            </div>

            <p class="card-year-size">2013 | <span class="brand-color-text">75cl</span></p>
            <p class="card-rating">{{> components/products/ratings rating=rating}}</p>
            <div class="wishlist-list-view">
                {{#if settings.show_wishlist}}
                    {{> components/common/wishlist-dropdown}}
                {{/if}}
            </div>
        </div>
        <div class="card-pricing">
            <div class="card-text" data-test-info-type="price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=price}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            <div class="grid-add-cart">

                    <a href="/cart.php?action=add&amp;product_id={{id}}" class="button button--primary button--cartAction" data-product-add-to-cart="" data-product-id="{{id}}" data-wait-message="Adding to cart…" tabindex="0">Add to Basket</a>
        
            </div>
            <div class="multibuy-cont">
                <span class="multibuy-only-label">{{lang 'products.only_discount_text'}}</span>
                <span class="multibuy-price">£{{toFixed (multiply price.with_tax.value 0.9) 2}}</span>
                <p class="multibuy-label">{{lang 'products.multi_buy_discount_text'}}</p>
            </div>
        </div>
    </div>
</article>
