<article class="card {{#if alternate}}card--alternate{{/if}}" {{#if settings.data_tag_enabled}} data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}"  {{/if}}>
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">On Sale!</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">On Sale!</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>

        {{> components/products/product-card-icons }}
    </figure>
    <div class="card-details">
        <div class="card-body">
            <div class="card-title-cont">
                <h3 class="card-title">
                    <a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>
                        {{#filter custom_fields 'simpleName' property='name' }}
                        {{value}}
                        {{/filter}}
                    </a>
                </h3>
                <h4 class="card-brand">{{#if brand.name}}<a href="{{url}}">{{brand.name}}</a>{{/if}}</h4>
            </div>

            <div class="card-desc-cont">
                {{summary}}
                <a href="{{url}}" class="card-read-more">Read more</a>
            </div>

            <p class="card-stats">
                {{#filter custom_fields 'vintage' property='name' }}{{value}}{{/filter}} | {{#filter custom_fields 'abv' property='name' }}{{value}}{{/filter}} ABV
                <span class="card-text-volume">{{#filter custom_fields 'unitVolume' property='name' }}{{value}}{{/filter}}</span>
            </p>
            <div class="wishlist-list-view">
                {{#if settings.show_wishlist}}
                    {{> components/common/wishlist-dropdown-card}}
                {{/if}}
            </div>
        </div>
        <div class="card-price-wrap">
            <div class="card-price-cont">
                <div class="card-single-cont" data-test-info-type="price">
                    <span class="single-price-title">{{lang 'products.single_bottle_text'}}</span>
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{#filter custom_fields 'isMultibuy' property='name' }}
                <div class="card-multibuy-cont">
                {{else}}
                <div class="card-multibuy-cont" style="display:none">
                {{/filter}}
                    <div class="multibuy-price-title">
                        <span class="tooltip-border">{{lang 'products.multibuy_bottle_text'}}</span>
                        <sub> ?</sub>
                        <span class="tooltip-text">Only <strong>£{{toFixed (multiply price.with_tax.value 0.9) 2}}</strong> per bottle when you mix 12+ bottles</span>
                    </div>
                    <span class="price price--withTax">£{{toFixed (multiply price.with_tax.value 0.9) 2}}</span>
                    <span class="card-multibuy-label">{{lang 'products.multibuy_discount_text'}}</span>
                    <span class="multibuy-saving">{{lang 'products.save_price_label'}} £{{toFixed (multiply price.with_tax.value 0.1) 2}}</span>
                </div>
            </div>
            <div class="grid-add-cart">
                <div class="productView-options add-to-cart-form">
                    {{#if show_cart_action}}
                        {{#if add_to_cart_url }}
                        <form name="form-{{id}}" class="form-{{id}}" method="post" action="{{add_to_cart_url}}" enctype="multipart/form-data"
                            data-cart-item-add>
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="product_id" value="{{id}}"/>
                            <div data-product-option-change style="display:none;">
                                {{#each product.options}}
                                    {{{dynamicComponent 'components/products/options'}}}
                                {{/each}}
                            </div>
                            <div class="form-field form-field--stock{{#unless stock_level}} u-hiddenVisually{{/unless}}" style="display:none;">
                                <label class="form-label form-label--alternate">
                                    {{lang 'products.current_stock'}}
                                    <span data-product-stock>{{stock_level}}</span>
                                </label>
                            </div>
                            <div class="add-to-cart-cont">
                                {{#if theme_settings.show_product_quantity_box}}
                                    <div class="form-field form-field--increments">
                                            <div class="form-increment form-increment-{{id}}" data-quantity-change>
                                                <input class="form-input-{{id}} form-input--incrementTotal"
                                                id="qty[]-{{id}}"
                                                name="qty[]"
                                                type="tel"
                                                value="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}"
                                                data-quantity-min="0"
                                                data-quantity-max="0"
                                                min="1"
                                                pattern="[0-9]*"
                                                aria-live="polite">
                                                <button class="button button--icon" data-action="inc">
                                                    <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                                    <i class="fas fa-triangle"></i>
                                                </button>
                                                <button class="button button--icon" data-action="dec">
                                                    <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                                    <i class="fas fa-triangle"></i>
                                                </button>
                                                <label for="qty[]-{{id}}" class="visually-hidden">Quantity</label>
                                            </div>
                                    </div>
                                {{/if}}
                                
                                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                    <div class="form-action addToCartSubmit">
                                        <input id="form-action-addToCart-{{id}}" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary form-action-addToCart" type="submit"
                                            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
                                    </div>
                                {{/or}}
                            </div>
                            
                            <div class="alertBox productAttributes-message" style="display:none">
                                <div class="alertBox-column alertBox-icon">
                                    <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                                </div>
                                <p class="alertBox-column alertBox-message"></p>
                            </div>
                                
                        </form>
                        {{/if}}
                    {{else}}
                        <div class="button btn-oos">OUT OF STOCK</div>
                    {{/if}}
                </div>        
            </div>
            <div class="card-review-cont">
                {{#if num_reviews '>' 0}}
                    <p class="card-rating">{{> components/products/ratings rating=rating}} ({{ num_reviews}})</p>
                {{else}}
                    <a href="{{url}}#write_review">Write a Review</a>
                {{/if}}
                <div class="wishlist-grid-view">
                    {{> components/common/wishlist-dropdown}}
                </div>
            </div>
        </div>
    </div>
</article>
