{{assignVar "vintage" ' '}}
{{assignVar "hasAwardMedal" 0}}
{{assignVar "awardMedal" ' '}}
{{assignVar "hasAwardCompetition" 0}}
{{assignVar "awardCompetition" ' '}}
{{assignVar "hasAwardQuote" 0}}
{{assignVar "awardQuote" ' '}}
{{assignVar "hasAwardImage" 0}}
{{assignVar "awardImage" ' '}}
{{assignVar "awardVintage" ' '}}
{{assignVar "showAward" 0}}
{{assignVar "isWine" 0}}
{{assignVar "isChampagne" 0}}

{{#each custom_fields}}
    {{#if name "===" "vintage"}}{{assignVar "vintage" value}}{{/if}}
    {{#if name "===" "awardMedal"}}{{assignVar "hasAwardMedal" 1}}{{assignVar "awardMedal" value}}{{/if}}
    {{#if name "===" "awardCompetition"}}{{assignVar "hasAwardCompetition" 1}}{{assignVar "awardCompetition" value}}{{/if}}
    {{#if name "===" "awardQuote"}}{{assignVar "hasAwardQuote" 1}}{{assignVar "awardQuote" value}}{{/if}}
    {{#if name "===" "awardImage"}}
      {{#if (length value) '>' 0}}{{assignVar "hasAwardImage" 1}}{{assignVar "awardImage" value}}{{/if}}
    {{/if}}
    {{#if name "===" "awardVintage"}}{{assignVar "awardVintage" value}}{{/if}}
    {{#if name "===" "isWine"}}{{assignVar "isWine" value}}{{/if}}
    {{#if name "===" "isChampagne"}}{{assignVar "isChampagne" value}}{{/if}}
{{/each}}

{{#all
    (if (getVar "awardVintage") '===' (getVar "vintage"))
    (if (add (add (getVar "hasAwardMedal") (getVar "hasAwardCompetition")) (getVar "hasAwardImage")) '>' 2)
    }}
    {{assignVar "showAward" 1}}
{{/all}}

<article
    class="card
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#or customer (unless settings.hide_price_from_guests)}}
            {{#if price.with_tax}}
                {{price.with_tax.value}}
            {{else}}
                {{price.without_tax.value}}
            {{/if}}
        {{else}}
            {{lang 'common.login_for_pricing'}}
        {{/or}}"
    {{/if}}>
    <figure class="card-figure">


        <a href="{{url}}"
           class="card-figure__link"
           aria-label="{{> components/products/product-info}}"
           {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}

                {{#if stock_level}}
                    {{assignVar 'stockLevel' stock_level}}
                    {{#filter custom_fields 'lowStock' property='name' }}
                        {{#if (toInt (getVar 'stockLevel')) '<=' (toInt value)}}
                            <div class="limited-stock-badge">
                                <p>Limited</br>Stock</p>
                            </div>
                            {{/if}}
                    {{/filter}}
                {{/if}}

                {{#if (getVar 'showAward' '>' 0) }}
                    <img class="card-img-medal" src="https://res.cloudinary.com/enotria/image/upload/w_131,h_131,dpr_auto/gwc/medals/{{getVar 'awardImage'}}" title="{{getVar 'awardCompetition'}} {{getVar 'awardMedal'}}" alt="{{getVar 'awardCompetition'}} {{getVar 'awardMedal'}}" />
                {{/if}}
            </div>
        </a>

        {{> components/products/product-card-icons }}
    </figure>
    <div class="card-details">
        <div class="card-body">
            <div class="card-title-cont">
                <h3 class="card-title">
                    <a href="{{url}}"
                    {{#if settings.data_tag_enabled}} data-event-type="product-click"{{/if}}
                    aria-label="{{> components/products/product-info}}">
                        {{#filter custom_fields 'simpleName' property='name' }}
                        {{value}}
                        {{/filter}}
                    </a>
                </h3>
                <h4 class="card-brand">{{#if brand.name}}<a href="{{url}}">{{brand.name}}</a>{{/if}}</h4>
            </div>

            <div class="card-desc-cont">
                {{summary}}
                <a href="{{url}}" title="{{name}}" class="card-read-more">Read more<i class="fal fa-chevron-right icon"></i></a>
            </div>

            <p class="card-stats">
                {{#filter custom_fields 'vintage' property='name' }}<span>{{value}}</span>{{/filter}}
                {{#filter custom_fields 'abv' property='name' }}<span>{{value}} ABV</span>{{/filter}}
                {{#filter custom_fields 'unitVolume' property='name' }}<span>{{value}}</span>{{/filter}}
            </p>
        </div>
        <div class="card-price-wrap">
            <div class="card-price-cont">
                <div class="card-single-cont {{#if (getVar 'isWine') '===' 'Yes'}} card-single-cont-with-multibuy{{/if}}" data-test-info-type="price">
                    <span class="single-price-title">{{lang 'products.single_bottle_text'}}</span>
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                </div>
                {{#if (getVar 'isWine') '===' 'Yes'}}
                    <div class="card-multibuy-cont">
                        <div class="multibuy-price-title">
                            <span class="tooltip-border">Multibuy</span>
                            <sub> ?</sub>
                            <span class="tooltip-text">Save 10%: <strong>£{{toFixed (multiply price.with_tax.value 0.90) 2}}</strong> per bottle when you mix 12+ bottles</span>
                        </div>
                        <span class="price price--withTax">£{{toFixed (multiply price.with_tax.value 0.90) 2}}</span>
                        <span class="card-multibuy-label">{{lang 'products.multibuy_discount_text'}}</span>
                        <span class="multibuy-saving">{{lang 'products.save_price_label'}} £{{toFixed (multiply price.with_tax.value 0.1) 2}}</span>
                    </div>
                {{/if}}
            </div>
            <div class="grid-add-cart max-stock-parent">
                <div class="max-stock-message-wrap">
                    <div class="max-stock-message-cont">
                        <p>There are only {{stock_level}} in stock</p>
                        <button class="close-stock-message" title="Close max stock message"> 
                            <i class="fa fa-times" title="Close max stock message" aria-label="Close max stock message"></i>
                        </button>
                    </div>
                </div>

                <div class="add-to-cart-form">
                    {{#if show_cart_action}}
                        {{#if add_to_cart_url }}
                        <form name="form-{{id}}" class="form-{{id}}" method="post" action="{{add_to_cart_url}}" enctype="multipart/form-data"
                            data-cart-item-add>
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="product_id" value="{{id}}"/>
                            <div data-product-option-change style="display:none;">
                                {{#each product.options}}
                                    {{{dynamicComponent 'components/products/options'}}}
                                {{/each}}
                            </div>
                            <div class="form-field form-field--stock{{#unless stock_level}} u-hiddenVisually{{/unless}}" style="display:none;">
                                <label class="form-label form-label--alternate">
                                    {{lang 'products.current_stock'}}
                                    <span data-product-stock>{{stock_level}}</span>
                                </label>
                            </div>
                            <div class="add-to-cart-cont">
                                {{#if theme_settings.show_product_quantity_box}}
                                    <div class="form-field form-field--increments">
                                            <div class="form-increment form-increment-{{id}}" data-quantity-change>
                                                <input class="form-input-{{id}} form-input--incrementTotal"
                                                id="qty[]-{{id}}"
                                                name="qty[]"
                                                type="tel"
                                                value="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}"
                                                data-quantity-min="0"
                                                data-quantity-max="{{#if stock_level}}{{stock_level}}{{else}}0{{/if}}"
                                                min="1"
                                                pattern="[0-9]*"
                                                aria-live="polite">
                                                <button class="button button--icon" data-action="inc">
                                                    <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                                    <i class="fas fa-triangle"></i>
                                                </button>
                                                <button class="button button--icon" data-action="dec">
                                                    <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                                    <i class="fas fa-triangle"></i>
                                                </button>
                                                <label for="qty[]-{{id}}" class="visually-hidden">Quantity</label>
                                            </div>
                                    </div>
                                {{/if}}
                                
                                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                    <div class="form-action addToCartSubmit">
                                        <input id="form-action-addToCart-{{id}}" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary form-action-addToCart" type="submit"
                                            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
                                    </div>
                                {{/or}}
                            </div>
                            
                            <div class="alertBox productAttributes-message" style="display:none">
                                <div class="alertBox-column alertBox-icon">
                                    <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                                </div>
                                <p class="alertBox-column alertBox-message"></p>
                            </div>
                                
                        </form>
                        {{else}}
                            <div class="button btn-oos">Out of stock</div>
                        {{/if}}
                    {{else}}
                        <div class="button btn-oos">Out of stock</div>
                    {{/if}}
                </div>        
            </div>
            <div class="card-review-cont">
                {{#if num_reviews '>' 0}}
                    <div class="card-rating">{{> components/products/ratings rating=rating}} ({{ num_reviews}})</div>
                {{else}}
                    <div><a href="{{url}}#write_review" title="Write a review">Write a Review</a></div>
                {{/if}}
                <div class="wishlist-grid-view">
                    {{> components/common/wishlist-dropdown}}
                </div>
            </div>
        </div>
    </div>
</article>
