<form class="actionBar" method="get" data-sort-by="product">
    {{> components/category/sort-box sort=sort}}
    <div class="change-list-view">
        <a href="javascript:void(0);" id="grid-view" class="no-decoration">
            <i class="fas fa-th-large icon"></i>
            <span class="visually-hidden">Grid View</span>
        </a>
        <a href="javascript:void(0);" id="list-view" class="current-view no-decoration">
            <i class="fas fa-bars icon"></i>
            <span class="visually-hidden">List View</span>
        </a>    
    </div>
</form>
