<div class="header-carousel">
    {{#if header '===' true}}
        <h1 class="page-heading-left stylised-medium">{{lang 'products.featured' }}</h1>
    {{/if}}

    <div class="carousel-controls">
        <div class="prev-arrow"><i class="fal fa-chevron-left"></i></div>
        <div class="next-arrow"><i class="fal fa-chevron-right"></i></div>
    </div>

    <section class="productCarousel {{#if header '===' true}}header-slider{{/if}}"
        data-list-name="{{list}}"
        data-slick='{
            "dots": true,
            "infinite": false,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "draggable": true,
            "prevArrow": ".prev-arrow",
            "appendDots": ".carousel-controls",
            "nextArrow": ".next-arrow",
            "responsive": [
                {
                    "breakpoint": 1200,
                    "settings": {
                        "slidesToShow": {{ columns }},
                        "slidesToScroll": {{ columns }}
                    }
                },
                {
                    "breakpoint": 888,
                    "settings": {
                        "slidesToShow": 3,
                        "slidesToScroll": 3
                    }
                },
                {
                    "breakpoint": 650,
                    "settings": {
                        "slidesToShow": 2,
                        "slidesToScroll": 2
                    }
                }
            ]
        }'
    >
        {{#each products}}
        <div class="productCarousel-slide">
            {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </div>
        {{/each}}
    </section>

</div>
