<section class="toggle productReviews" id="product-reviews" data-product-reviews {{#filter product.custom_fields 'press0Text_0' property='name' }}{{else}}style="display: none;"{{/filter}}>
    <h4 class="toggle-title">
        <span class="stylised-medium">Press Reviews</span>
    </h4>
    <div class="productView-press-reviews">
        <div class="press-review-cont">
            <blockquote class="press-review-quote">                
                "{{#filter product.custom_fields 'press0Text_0' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_1' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_2' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_3' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_4' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_5' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_6' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_7' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_8' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_9' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press0Text_10' property='name' }}{{value}}{{/filter}}"
            </blockquote>
            <footer class="press-review-title">                
                {{#filter product.custom_fields 'press0Vintage' property='name' }}{{value}} |{{/filter}} {{#filter product.custom_fields 'press0Attribution' property='name' }}{{value}}{{/filter}}
            </footer>
        </div>

        <div class="press-review-cont">
            <blockquote class="press-review-quote">                
                "{{#filter product.custom_fields 'press1Text_0' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_1' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_2' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_3' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_4' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_5' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_6' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_7' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_8' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_9' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'press1Text_10' property='name' }}{{value}}{{/filter}}"
            </blockquote>
            <footer class="press-review-title">                
                {{#filter product.custom_fields 'press1Vintage' property='name' }}{{value}}{{/filter}} | {{#filter product.custom_fields 'press1Attribution' property='name' }}{{value}}{{/filter}}
            </footer>
        </div>
        
    </div>
</section>