<div class="product-card-icons">
    {{#filter custom_fields 'country' property='name' }}
    <div class="product-card-icon-cont" title="{{value}}">
    {{/filter}}
    {{#filter custom_fields 'countryCode' property='name' }}
        <span class="flag-icon flag-icon-{{toLowerCase value}} flag-icon-squared icon"></span>
    {{/filter}}
    {{#filter custom_fields 'country' property='name' }}
    </div>
    {{/filter}}
    {{#filter custom_fields 'vegetarian' property='name' }}
    {{#if value '===' 'true'}}
    <div class="product-card-icon-cont" title="Vegetarian">
        <span class="text-icon">V</span>
    </div>
    {{/if}}
    {{/filter}}
    {{#filter custom_fields 'vegan' property='name' }}
    {{#if value '===' 'true'}}
    <div class="product-card-icon-cont" title="Vegan">
        <span class="text-icon">Vg</span>
    </div>
    {{/if}}
    {{/filter}}
    {{#filter custom_fields 'awardName' property='name' }}
    <div class="product-card-icon-cont" title="Award-Winning - {{value}}">
        <i class="fal fa-medal"></i>
    </div>
    {{/filter}}
    {{#filter custom_fields 'organic' property='name' }}
    {{#if value '===' 'true'}}
    <div class="product-card-icon-cont" title="Organic">
        <i class="fal fa-leaf"></i>
    </div>
    {{/if}}
    {{/filter}}
</div>