{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}

{{#each product.custom_fields}}
    {{#if name "===" "vintage"}}{{assignVar "vintage" value}}{{/if}}

    {{#if name "===" "press1Text"}}{{assignVar "hasPress1Text" 1}}{{assignVar "press1Text" value}}{{/if}}
    {{#if name "===" "press1Attribution"}}{{assignVar "hasPress1Attribution" 1}}{{assignVar "press1Attribution" value}}{{/if}}
    {{#if name "===" "press1Publication"}}{{assignVar "hasPress1Publication" 1}}{{assignVar "press1Publication" value}}{{/if}}
    {{#if name "===" "press1Date"}}{{assignVar "hasPress1Date" 1}}{{assignVar "press1Date" value}}{{/if}}
    {{#if name "===" "press1Url"}}{{assignVar "hasPress1Url" 1}}{{assignVar "press1Url" value}}{{/if}}
    {{#if name "===" "press1Vintage"}}{{assignVar "press1Vintage" value}}{{/if}}

    {{#if name "===" "press2Text"}}{{assignVar "hasPress2Text" 1}}{{assignVar "press2Text" value}}{{/if}}
    {{#if name "===" "press2Attribution"}}{{assignVar "hasPress2Attribution" 1}}{{assignVar "press2Attribution" value}}{{/if}}
    {{#if name "===" "press2Publication"}}{{assignVar "hasPress2Publication" 1}}{{assignVar "press2Publication" value}}{{/if}}
    {{#if name "===" "press2Date"}}{{assignVar "hasPress2Date" 1}}{{assignVar "press2Date" value}}{{/if}}
    {{#if name "===" "press2Url"}}{{assignVar "hasPress2Url" 1}}{{assignVar "press2Url" value}}{{/if}}
    {{#if name "===" "press2Vintage"}}{{assignVar "press2Vintage" value}}{{/if}}

    {{#if name "===" "awardName"}}{{assignVar "hasAwardName" 1}}{{assignVar "awardName" value}}{{/if}}
    {{#if name "===" "awardCompetition"}}{{assignVar "hasAwardCompetition" 1}}{{assignVar "awardCompetition" value}}{{/if}}
    {{#if name "===" "awardQuote"}}{{assignVar "hasAwardQuote" 1}}{{assignVar "awardQuote" value}}{{/if}}
    {{#if name "===" "awardImage"}}
      {{#if (length value) '>' 0}}{{assignVar "hasAwardImage" 1}}{{assignVar "awardImage" value}}{{/if}}
    {{/if}}
    {{#if name "===" "awardVintage"}}{{assignVar "awardVintage" value}}{{/if}}
{{/each}}

{{#all
    (if (getVar "press1Vintage") '===' (getVar "vintage"))
    (if (getVar "hasPress1Text") '>' 0)
    (if (add (getVar "hasPress1Publication") (getVar "hasPress1Attribution")) '>' 0)
    }}
    {{assignVar "showPress1" 1}}
{{/all}}

{{#all
    (if (getVar "press2Vintage") '===' (getVar "vintage"))
    (if (getVar "hasPress2Text") '>' 0)
    (if (add (getVar "hasPress2Publication") (getVar "hasPress2Attribution")) '>' 0)
    }}
    {{assignVar "showPress2" 1}}
{{/all}}

{{#all
    (if (getVar "awardVintage") '===' (getVar "vintage"))
    (if (add (add (getVar "hasAwardName") (getVar "hasAwardCompetition")) (getVar "hasAwardImage")) '>' 2)
    }}
    {{assignVar "showAward" 1}}
{{/all}}

<div class="productView"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option"{{/if}}>

    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <div class="sticky-placeholder"></div>

    <div class="add-to-basket-wrap static">
        <div class="sticky-background-grad"></div>
        <div class="full-width no-padding">
            <div class="sticky-add-to-basket-cont">
                <div class="product-title-desktop">
                    <h3 class="product-title">
                            {{#filter product.custom_fields 'simpleName' property='name' }}
                            {{value}}
                            {{/filter}}
                    </h3>
                    {{#if product.brand}}
                        <h4 class="product-brand">
                            <a href="{{product.brand.url}}">
                                {{product.brand.name}}
                            </a>
                        </h4>
                    {{/if}}
                </div>      
                {{  product.brand.id }}
                <div class="productView-pricing-cont">
                    <div class="productView-price">
                        {{#or customer (if theme_settings.restrict_to_login '!==' Yes)}}
                            {{> components/products/price-sticky price=product.price schema_org=schema}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}} 
                    </div>
    
                    {{#filter product.custom_fields 'isWine' property='name'}}
                        <div class="productView-price-multi">
                            <div class="sticky-multi-price">
                                <div class="multibuy-price-title">
                                    <span class="tooltip-border">{{lang 'products.multibuy_bottle_text'}}</span>
                                    <sub> ?</sub>
                                    <span class="tooltip-text">Save 10%: <strong>£{{toFixed (multiply ../product.price.with_tax.value 0.9) 2}}</strong> per bottle when you mix 12+ bottles</span>
                                </div>
                                <span class="price price--withTax">£{{toFixed (multiply ../product.price.with_tax.value 0.9) 2}}</span>
                            </div>
                            <div class="sticky-multi-savings">
                                <span class="multibuy-label">{{lang 'products.multibuy_discount_text'}}</span>
                                <span class="multibuy-saving">{{lang 'products.save_price_label'}} £{{toFixed (multiply ../product.price.with_tax.value 0.1) 2}}</span>
                            </div>
                        </div>
                    {{/filter}}
                </div>

                <div class="productView-cart-cont">
                    <div class="productView-options add-to-cart-form">
                        <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                            data-cart-item-add>
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="product_id" value="{{product.id}}"/>
                            <div data-product-option-change style="display:none;">
                                {{#each product.options}}
                                    {{{dynamicComponent 'components/products/options'}}}
                                {{/each}}
                            </div>
                            <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}" style="display:none;">
                                <label class="form-label form-label--alternate">
                                    {{lang 'products.current_stock'}}
                                    <span data-product-stock>{{product.stock_level}}</span>
                                </label>
                            </div>
                            {{#and (unless product.out_of_stock) (if product.can_purchase) }}
                                {{> components/products/add-to-cart}}
                            {{else}}
                            <div class="button btn-oos" id="productView-oos">
                                <p class="oos-txt">Out of stock</p>
                            </div>
                            {{/and}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <section class="productView-images" data-image-gallery>
            {{!--
                Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                for variant/rule image replacement
            --}}
            {{#if product.images.length '>' 1 }}
            {{> components/carousel-content-announcement}}
            {{/if}}
            <figure class="productView-image"
                    data-image-gallery-main
                    {{#if product.main_image}}
                    data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                    {{/if}}
                    >
                <div class="productView-img-container">
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                            target="_blank">
                    {{/if}}
                    {{> components/common/responsive-img
                        image=product.main_image
                        class="productView-image--default"
                        fallback_size=theme_settings.product_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                        otherAttributes="data-main-image"
                    }}
                    {{!-- Remove the surrounding a-element if there is no main image. --}}
                    {{#if product.main_image}}
                        </a>
                    {{/if}}
                </div>
            </figure>
            {{#if product.images.length '>' 1 }}
                <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                    "infinite": false,
                    "mobileFirst": true,
                    "slidesToShow": 5,
                    "slidesToScroll": 1
                }'{{/gt}}>
                    {{#each product.images}}
                        <li class="icon productView-thumbnail">
                            <a
                                class="productView-thumbnail-link"
                                href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                                data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                                data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                            >
                            {{> components/common/responsive-img
                                image=this
                                fallback_size=../theme_settings.productview_thumb_size
                                lazyload=../theme_settings.lazyload_mode
                            }}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
            <div class="productView-video">
                {{#if product.videos.list.length}}
                    {{> components/products/videos product.videos}}
                {{/if}}        
            </div>
        </section>

        <section class="productView-details product-data">
            <div class="productView-product">
                <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>
                    {{#filter product.custom_fields 'simpleName' property='name' }}
                        {{value}}
                    {{/filter}}
                </h1>
                {{#if product.brand}}
                <h2 class="productView-brand">
                    <a href="{{product.brand.url}}"><span>{{product.brand.name}}</span></a>
                    </h2>
                {{/if}}

                <div class="productView-quickInfo">
                    <div class="productView-stats">
                        <div class="productView-dataInfo">
                            <span>{{#filter product.custom_fields 'vintage' property='name' }}{{value}} {{/filter}}</span>
                            <span>{{#filter product.custom_fields 'abv' property='name' }}| {{value}} ABV {{/filter}}</span>
                            <span>{{#filter product.custom_fields 'unitVolume' property='name' }}| {{value}} {{/filter}}</span>
                        </div>
                    </div>
                    
                    <div class="productView-rating"{{#if product.num_reviews '>' 0}}{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}{{/if}}>
                        {{#if settings.show_product_rating}}
                            {{#if product.num_reviews '>' 0}}
                                {{#if schema}}
                                    <meta itemprop="ratingValue" content="{{product.rating}}">
                                    <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                    <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                                {{/if}}
                            {{/if}}
                            {{> components/products/ratings rating=product.rating}}
                            <span class="productView-reviewLink">
                                {{#if product.num_reviews '>' 0}}
                                    <a href="{{product.url}}#product-reviews">
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    </a>
                                {{else}}
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                {{/if}}
                            </span>
                            {{#if settings.show_product_reviews}}
                            <span class="productView-reviewLink jump-review-form">
                                <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                                {{lang 'products.reviews.new'}}
                                </a>
                            </span>
                        {{/if}}
                        {{/if}}
                    </div>
                    <div class="productView-stock-wish">
                        {{#if product.stock_level}}
                            {{assignVar 'stockLevel' product.stock_level}}
                            {{#filter product.custom_fields 'lowStock' property='name' }}
                                {{#if (toInt (getVar 'stockLevel')) '<=' (toInt value)}}
                                    <div class="productView-stockLevel">
                                        <span> {{getVar 'stockLevel'}} in stock</span>
                                    </div>
                                {{/if}}
                            {{/filter}}
                        {{/if}}

                        {{#if settings.show_wishlist}}
                            {{> components/common/wishlist-dropdown}}
                        {{/if}}
                    </div>

                </div>

                <hr class="productView-divider">
                    <div class="productView-icons">
                        {{#filter product.custom_fields 'colour' property='name' }}
                        <div class="productView-icon">
                            <i class="fal fa-wine-glass-alt icon"></i>
                            {{value}}
                        </div>
                        {{/filter}}
                        {{#filter product.custom_fields 'subType' property='name' }}
                            {{#contains value 'Wine'}}
                            {{else}}
                                <div class="productView-icon">
                                    <i class="fal fa-wine-bottle icon"></i>
                                    {{value}}
                                </div>
                            {{/contains}}
                            {{#contains value 'Dessert Wine'}}
                                <div class="productView-icon">
                                    <i class="fal fa-wine-bottle icon"></i>
                                    {{value}}
                                </div>
                            {{/contains}}
                        {{/filter}}
                        {{#filter product.custom_fields 'countryCode' property='name' }}
                        <div class="productView-icon">
                            <span class="flag-icon flag-icon-{{toLowerCase value}} flag-icon-squared icon"></span>
                        {{/filter}}
                        {{#filter product.custom_fields 'countryUrl' property='name' }}
                            <a href="{{ value }}">
                        {{/filter}}
                        {{#filter product.custom_fields 'country' property='name' }}
                            {{value}}
                        {{/filter}}
                        {{#filter product.custom_fields 'countryUrl' property='name' }}
                            </a>
                        {{/filter}}
                        {{#filter product.custom_fields 'country' property='name' }}
                        </div>
                        {{/filter}}
                        {{#filter product.custom_fields 'region' property='name' }}
                        <div class="productView-icon">
                            <i class="fal fa-map-marker-alt icon"></i>
                            {{value}}
                        </div>
                        {{/filter}}
                        {{#filter product.custom_fields 'vegetarian' property='name' }}
                            {{#if value '==' 'Yes'}}
                                <div class="productView-icon">
                                    <span class="text-icon icon">V</span>
                                    Vegetarian
                                </div>
                            {{/if}}
                        {{/filter}}
                        {{#filter product.custom_fields 'vegan' property='name' }}
                            {{#if value '==' 'Yes'}}
                                <div class="productView-icon">
                                    <span class="text-icon icon">Vg</span>
                                    Vegan
                                </div>
                            {{/if}}
                        {{/filter}}

                        {{#if (getVar 'showAward') '>' 0}}
                        <div class="productView-icon">
                            <img src="https://res.cloudinary.com/enotria/image/upload/w_45,h_45,dpr_auto/gwc/medals/{{getVar 'awardImage'}}" title="{{getVar 'awardCompetition'}} {{getVar 'awardName'}}" alt="{{getVar 'awardCompetition'}} {{getVar 'awardName'}}" class="icon" />
                            {{getVar 'awardCompetition'}} {{getVar 'awardName'}}
                        </div>
                        {{/if}}
                    </div>

                    {{#any product.custom_fields name='planetFriendly'}}
                    <div class="productView-planet-friendly">
                        <div class="productView-kind">
                        {{#any product.custom_fields name='planetFriendly' value='Organic'}}
                            <div class="productView-icon">
                                <i class="fal fa-leaf icon"></i>
                                Organic
                            </div>
                        {{/any}}
                        {{#any product.custom_fields name='planetFriendly' value='Biodynamic'}}
                            <div class="productView-icon">
                                <i class="fal fa-leaf-heart icon"></i>
                                Biodynamic
                            </div>
                        {{/any}}
                        {{#any product.custom_fields name='planetFriendly' value='Sustainable'}}
                            <div class="productView-icon">
                                <i class="fal fa-seedling icon"></i>
                                Sustainable
                            </div>
                        {{/any}}
                        {{#any product.custom_fields name='planetFriendly' value='Ethical'}}
                            <div class="productView-icon">
                                <i class="fal fa-heart icon"></i>
                                Ethical
                            </div>
                        {{/any}}
                        {{#filter product.custom_fields 'planetFriendlyText' property='name' }}
                            <p class="productView-kind-desc">
                                {{value}}
                            </p>
                        {{/filter}}
                        </div>
                    </div>
                  {{/any}}

                  {{{region name="product_below_price"}}}

                  {{product.detail_messages}}
                  <!-- <dl class="productView-info">
                      {{#if product.condition}}
                          <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                          <dd class="productView-info-value">{{product.condition}}</dd>
                      {{/if}}
                      {{#all product.weight theme_settings.show_product_weight}}
                          <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                          <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                      {{/all}}
                      {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                          <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                          <dd class="productView-info-value" data-product-width>
                              {{product.width}}
                              {{#if settings.measurements.length '==' 'Centimeters'}}
                              ({{lang 'products.measurement.metric'}})
                              {{else}}
                              ({{lang 'products.measurement.imperial'}})
                              {{/if}}
                          </dd>
                          <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                          <dd class="productView-info-value" data-product-height>
                              {{product.height}}
                              {{#if settings.measurements.length '==' 'Centimeters'}}
                              ({{lang 'products.measurement.metric'}})
                              {{else}}
                              ({{lang 'products.measurement.imperial'}})
                              {{/if}}
                          </dd>
                          <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                          <dd class="productView-info-value" data-product-depth>
                              {{product.depth}}
                              {{#if settings.measurements.length '==' 'Centimeters'}}
                              ({{lang 'products.measurement.metric'}})
                              {{else}}
                              ({{lang 'products.measurement.imperial'}})
                              {{/if}}
                          </dd>
                      {{/all}}

                      {{#if product.shipping}}
                          {{#if product.shipping.calculated}}
                              <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                              <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                          {{else}}
                              {{#if product.shipping.price.value '===' 0}}
                                  <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                  <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                              {{else}}
                                  <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                  <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                              {{/if}}
                          {{/if}}
                      {{/if}}

                      {{#if settings.bulk_discount_enabled}}
                          <div class="productView-info-bulkPricing">
                              {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                          </div>
                      {{/if}}


                  </dl> -->
            </div>
                
            <article class="productView-description-cont"{{#if schema}} itemprop="description"{{/if}}>
                {{#if theme_settings.show_product_details_tabs}}
                    {{> components/products/description-tabs}}
                {{else}}
                    {{> components/products/description}}
                {{/if}}
            </article>

            {{#filter product.custom_fields 'filterFlavour' property='name'}}
            <div class="productView-flavour-cont">
            {{else}}
            <div class="productView-flavour-cont"  style="display:none">
            {{/filter}}
                <h3>Key Flavours</h3>
                <div class="flavour-list">
                    {{#filter product.custom_fields 'flavour' property='name' }}
                        <div class="productView-flavour">
                            <i class="icon icon-{{dashcase value}}" title="Has {{value}} flavour notes" aria-hidden="true"></i>
                            <span>{{value}}</span>
                        </div>
                    {{/filter}}
                </div>
            </div>

            {{#filter product.custom_fields 'curatorQuote' property='name' }}
            <div class="productView-people productView-paragraph">
                    <i class="fal fa-user icon" title="A Curator's review" aria-label="A Curator's review"></i>
            {{/filter}}
            {{#filter product.custom_fields 'curatorQuote' property='name' }}
                <blockquote>"{{value}}"
            {{/filter}}
            {{#filter product.custom_fields 'curator' property='name' }}
                    <footer>
                        {{value}}   
                    </footer>
                </blockquote>
            </div>
            {{/filter}}

        <div class="info-carousel">
            {{#gt (getVar "showPress1") 0}}
              <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-newspaper icon"></i>
                    <h2 class="content-section-header">Press Review</h3>
                </div>
                <blockquote class="press-review-quote">
                  <p>{{getVar 'press1Text'}}</p>
                  <footer>-
                    <cite>
                      {{#if (getVar "hasPress1Url")}}<a href="{{getVar 'press1Url'}}">{{/if}}
                      {{#if (getVar "hasPress1Attribution")}}{{getVar 'press1Attribution'}}{{/if}}{{#if (getVar "hasPress1Publication")}}{{#if (getVar "hasPress1Attribution")}}, {{/if}} {{getVar 'press1Publication'}}{{/if}}{{#if (getVar "hasPress1Date")}}, {{getVar 'press1Date'}}{{/if}}
                      {{#if (getVar "hasPress1Url")}}</a>{{/if}}
                    </cite>
                  </footer>
                </blockquote>
              </div>
            {{/gt}} 

            {{#gt (getVar "showPress2") 0}}
              <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-newspaper icon"></i>
                    <h2 class="content-section-header">Press Review</h3>
                </div>
                <blockquote class="press-review-quote">
                  <p>{{getVar 'press2Text'}}</p>
                  <footer>-
                    <cite>
                      {{#if (getVar "hasPress2Url")}}<a href="{{getVar 'press2Url'}}">{{/if}}
                      {{#if (getVar "hasPress2Attribution")}}{{getVar 'press2Attribution'}}{{/if}}{{#if (getVar "hasPress2Publication")}}{{#if (getVar "hasPress2Attribution")}}, {{/if}} {{getVar 'press2Publication'}}{{/if}}{{#if (getVar "hasPress2Date")}}, {{getVar 'press2Date'}}{{/if}}
                      {{#if (getVar "hasPress2Url")}}</a>{{/if}}
                    </cite>
                  </footer>
                </blockquote>
              </div>
            {{/gt}} 

            {{#filter product.custom_fields 'serve' property='name' }}
            <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-wine-glass-alt icon"></i>
                    <h2 class="content-section-header">Serve</h3>
                </div>
                <p>{{value}}</p>
            </div>
            {{/filter}}

            {{#filter product.custom_fields 'process' property='name' }}
            <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-flask-potion icon"></i>
                    <h2 class="content-section-header">Process</h3>
                </div>
                <p>{{value}}</p>
            </div>
            {{/filter}}  
            
            {{#filter product.custom_fields 'people' property='name' }}
            <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-users icon"></i>
                    <h2 class="content-section-header">People</h3>
                </div>
                <p>{{value}}</p>
            </div>
            {{/filter}}

            {{#filter product.custom_fields 'place' property='name' }}
            <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-map-marker-alt icon"></i>
                    <h2 class="content-section-header">Place</h3>
                </div>
                <p>{{value}}</p>
            </div>
            {{/filter}} 

            {{#filter product.custom_fields 'winemaking_0' property='name' }}
            <div class="productView-content-section">
                <div class="info-carousel-header">
                    <i class="fal fa-wine-bottle icon"></i>
                    <h2 class="content-section-header">Winemaking</h3>
                </div>
                <p>{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_1' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_2' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_3' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_4' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_5' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_6' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_7' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_8' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_9' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_10' property='name' }}{{value}}{{/filter}}{{#filter product.custom_fields 'winemaking_0' property='name' }}</p>
            </div>
            {{/filter}}

            {{#filter product.custom_fields 'foodRecommendationOutput' property='name' }}
            <div class="productView-food-recommendation">
                <div class="info-carousel-header">
                    <i class="fal fa-wine-glass-alt icon"></i>
                    <h3 class="stylised-medium">Our Expert Food Recommendation</h3>
                </div>
                <p>
                    {{/filter}}{{#filter product.custom_fields 'foodRecommendation' property='name' }}{{value}}{{/filter}}
                {{#filter product.custom_fields 'foodRecommendationOutput' property='name' }}
                </p>
            </div>
            {{/filter}}
        </div>
      </section>
        
        {{#all settings.show_product_reviews (if theme_settings.show_product_reviews_tabs '!==' Yes)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        <hr class="productView-divider">

        {{#if (getVar 'producerRichDescription')}}
            <section class="productView-producer-section">
                <h3 class="stylised-medium">Producer Overview</h3>
                <div class="productView-producer-cont">
                    <div class="productView-producer-info">
                        <img src="{{ getVar 'producerLogoUrl'}}" alt="{{ product.brand.name }} Logo">
                        <div>
                            <h3 class="no-margin-top">{{ product.brand.name }}</h3>
                            <div>
                                {{{ getVar 'producerRichDescription' }}}
                            </div>
                            <a href="#" class="button button--primary">View Producer page</a>
                        </div>
                    </div>

                    <div class="productView-producer-image">
                        <img src="{{{ getVar 'producerFeaturedImage' }}}" class="" alt=""></a>
                    </div>
                </div>
            </section>
        {{/if}}


        <div class="row">
            {{> components/products/product-spec }}
        </div>

        <hr class="productView-divider">
        
        <div class="product-category-cont">
            <div class="product-cat-wrap producer-cat-wrap" style="display:none" data-cat-id="{{#filter product.custom_fields 'producerCategoryId' property='name' }}{{value}}{{/filter}}">
                <div class="product-cat-info">
                    <img class="product-cat-img" src="" alt="">
                    <div class="product-cat-heading">
                        <span>An introduction to</span>
                        <h4 class="product-cat-title"></h4>
                    </div>
                </div>
                <p></p>
                <a href="#" class="btn btn-coral-line">See more from this producer <i class="fa fa-chevron-right icon"></i></a>
            </div>
            <div class="product-cat-wrap country-cat-wrap" style="display:none" data-cat-id="{{#filter product.custom_fields 'countryCategoryId' property='name' }}{{value}}{{/filter}}">
                <div class="product-cat-info">
                    <img class="product-cat-img" src="" alt="">
                    <div class="product-cat-heading">
                        <span>Wine from</span>
                        <h4 class="product-cat-title"></h4>
                    </div>
                </div>
                <p></p>
                <a href="#" class="btn btn-coral-line">See more from this country <i class="fa fa-chevron-right icon"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    var productName = "{{product.title}}";
    var productPrice = "{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}";
    if(productName){
        productName = productName.replace(/\,.+/,"").trim();
    }
    if(productPrice){
        productPrice = productPrice.replace(/[^0-9\.]+/g,"").trim();
    }
    window.productItems = {
        "products" : [{
            "id" : "{{product.sku}}",
            "name" : productName,
            "category" : "{{product.brand.name}}",
            "price" : productPrice,
            "quantity" : "1",
            "variant" : "single-product-option"
        }],
        "fb" : {
            "currency" : "GBP",
            "content_ids" : ["{{product.sku}}"],
            "content_names" : [productName],
            "content_type" : "product",
            "content_categories" : ["{{product.brand.name}}"],
            "content_quantities" : [1],
            "content_prices" : [productPrice],
            "num_of_items" : 1,
            "value" : productPrice
        },
        "pinterest" : {
            "value" : productPrice,
            "order_quantity" : 1,
            "currency" : "GBP",
            "line_items" : [{
                "id" : "{{product.sku}}",
                "name" : "{{product.title}}",
                "category" : "{{product.brand.name}}",
                "price" : "{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}",
                "quantity" : "1",
                "variant" : "single-product-option"
            }]
        }
    }
    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
        "event" : "productView",
        "product" : window.productItems.products,
        "pinterest" : window.productItems.pinterest.line_items,
        "fb" : window.productItems.fb
    })
</script>

<script text="text/javascript">
    var _learnq = _learnq || [];
    
    var item = {
        Name: "{{product.title}}",
        ProductID: "{{product.id}}",
        ImageURL: "{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}",
        URL: "{{product.url}}",
        Brand: "{{product.brand.name}}",
        Price: "{{product.price.with_tax.value}}",
        CompareAtPrice: "{{product.price.rrp_with_tax.value}}"
    };
    
    _learnq.push(['track', 'Viewed Product', item]);
    
    _learnq.push(['trackViewedItem', {
        Title: item.Name,
        ItemId: item.ProductID,
        Categories: item.Categories,
        ImageUrl: item.ImageURL,
        Url: item.URL,
        
        Metadata: {
            Brand: item.Brand,
            Price: item.Price,
            CompareAtPrice: item.CompareAtPrice
        }
    }]);
</script>
