<div class="productView-spec">
    <h3 class="stylised-medium">Product Specification</h3>
    <ul class="product-spec-list">
        {{#filter product.custom_fields 'type' property='name' }}
        <li>
            <div class="productView-spec-item">
                <span class="productView-spec-label">Type</span>
            </div>
            <span>{{value}}</span>
        </li>
        {{/filter}}
    </ul>

    <ul class="product-spec-list">
            {{#filter product.custom_fields 'type' property='name' }}
            <li>
                <div class="productView-spec-item">
                    <span class="productView-spec-label">Type</span>
                </div>
                <span>{{value}}</span>
            </li>
            {{/filter}}          
        </ul>
</div>