<section class="toggle productReviews" id="product-reviews" data-product-reviews>
    <h4 class="toggle-title">
        <span class="stylised-medium">{{lang 'products.reviews.title' }}</span>
        {{#if settings.show_product_reviews}}
        {{#if theme_settings.show_product_reviews_tabs '!==' true}}
            <a class="toggleLink is-open" data-collapsible href="#productReviews-content">
                <span class="toggleLink-text toggleLink-text--on">
                    {{lang 'products.reviews.hide'}}
                </span>
                <span class="toggleLink-text toggleLink-text--off">
                    {{lang 'products.reviews.show'}}
                </span>
            </a>
        {{/if}}
    </h4>
    {{/if}}
    <div class="toggle-content is-open" id="productReviews-content" aria-hidden="false">

        {{#if reviews.total}}
            <ul class="productReviews-list" id="productReviews-list">
                {{#each reviews.list}}
                <li class="productReview">
                    <article>
                        <header>
                            <span class="productReview-rating rating--small">
                                {{> components/products/ratings rating=rating}}
                                <span class="productReview-ratingNumber">{{ rating }}</span>
                            </span>
                            <h5 class="productReview-title">{{{ sanitize title }}}</h5>
                            {{#if name}}
                                <p class="productReview-author">
                                    {{{ sanitize (lang 'products.reviews.post_on_by' date=date name=name) }}}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p class="productReview-body">{{{ sanitize text }}}</p>
                    </article>
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>There are currently no reviews.</p>
        {{/if}}
        {{#if reviews.total}}
            {{> components/common/paginator pagination.reviews}}
        {{/if}}
        <div class="add-review">
            <span class="productView-reviewLink center">
                <button class="button button--primary show-review-form">
                    {{lang 'products.reviews.new'}}
                </button>
            </span>
        </div>
        <div class="static-review-form">
            {{> components/products/modals/writeReview}}
        </div>
    </div>
</section>
