<section class="videoGallery" data-video-gallery>
    <div class="" id="videoGallery-content">
        <div class="resp-cont">
            <div class="videoGallery-main resp-iframe">
                <iframe
                    id="player"
                    class="lazyload"
                    type="text/html"
                    frameborder="0"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen
                    data-src="//www.youtube.com/embed/{{this.featured.id}}"
                    data-video-player>
                </iframe>
            </div>
        </div>
    </div>

</section>
