<nav>
<!--     {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">{{category.name}}</h5>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}} -->

    <div class="category-header">
        <img src="{{cdn '/assets/img/temp-cat-image.jpg'}}" class="category-img" alt="Temporary Category image">
        <div class="category-text">
            <h1 class="stylised-title">{{category.name}}</h1>
            <p>This wine has a complex nose of mint, blackcurrant and chocolate and the palate is juicy and ripe. There is a good layer of toasty oak in the background to complement the black cherry and cassis fruit flavours and grippy mid-palate tannin. Very long, clean and elegant on the finish.</p>
        </div>
    </div>
    
    <hr class="productView-divider">

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
