<div class="category-header {{#if category.image}}{{else}}full-width{{/if}}">
    <div class="category-text">
        <div class="desc-zone-top">
            <h1 class="stylised-title">Bertani</h1>
            <div class="content-hero-banner">
                <img src="https://res.cloudinary.com/enotria/image/upload/q_auto/f_auto/v1680201850/gwc/third-party/gordon-ramsay/gordon-ramsay-wine-club-collection-1920-571.jpg">
                <div class="content-rich-hero-box">
                    <h2>25% off wine &amp; fizz</h2>
                    <p class="heroCarousel-description">Toast the King's coronation with 25% off any 12+ bottles*</p>

                </div>
            </div>
            <div class="content-rich-buttons">
                <a href="/wine/" class="button button--secondary">Save 25% on Red Wine</a>
                <a href="/wine/" class="button button--secondary">Save 25% on Red Wine</a>
                <a href="/wine/" class="button button--secondary">Save 25% on Red Wine</a>
                <a href="/wine/" class="button button--secondary">Save 25% on Red Wine</a>
            </div>
        </div>
        
        <div class="desc-zone-bottom">
            Bottom content goes here
        </div>
        
    </div>
</div>
