<div class="desc-zone-top">
    <h1 class="stylised-title">Bertani</h1>
    <div class="content-rich-image-banner">
        <img src="{{cdn 'assets/img/bertani-1.jpg'}}" class="content-rich-img-main" alt="Bertani Image 1">
        <img src="{{cdn 'assets/img/bertani-2.jpg'}}" class="content-rich-img-sub" alt="Bertani Image 2">
        <img src="{{cdn 'assets/img/bertani-logo.png'}}" class="content-rich-center" alt="Bertani Logo">
    </div>
    <div>
        Space below the images is entirely free for use for content
    </div>
</div>

<div class="desc-zone-bottom">
    Bottom content goes here
</div>
