// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog-listing {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 20px
}

.blog {
    margin-bottom: spacing("single");

    .tags {
        margin-top: spacing("double");
        text-align: center;
    }

    .socialLinks {
        text-align: center;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    margin: 0 spacing("single") spacing("single");
    line-height:1.2em;
    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: center;
}

.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("small");
    text-align: justify;
}

.blog-thumbnail {
    margin: 0 auto (spacing("base"));
    position: relative;
    max-width: get_width(stencilString('blog_size'));

    img {
        width: 100%;
    }
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: center;
}

.blog-post-body {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 100%;

    @include breakpoint("small") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(10, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(10, $total-columns);
    }
}

// Custom styling for the blog listing page as both the listings and posts use the same classes

.blog-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint("medium") {
    }

    .blog-post-figure {
        display: block;
        margin: auto;
        width: 100%;
    
        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
    }
    
    .blog-post-body {
        display: block;
        margin: 1em auto;
        text-align: center;
        width: 100%;

        .blog-post {
            font-size: 16px;
            text-align: center;

            @include breakpoint("medium") {
                text-align: left;
            }

            .blog-summary {
                text-align: justify;
            }
        }
    }
}