{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page" id="page404-container">
    <section class="page-content">
        <div class="category-text">
            <h1 class="stylised-title">{{lang 'page_not_found.page_heading'}}</h1>
            <p>
                {{lang 'page_not_found.message'}}
            </p>
            <a class="btn btn-coral-line" href="{{urls.home}}">Return to Homepage</a>
        </div>
        <div class="background-image-container"></div>
    </section>
</main>

{{/partial}}
{{> layout/base}}
