// =============================================================================
// ICONS (Settings)
// =============================================================================


$exportCSS--icons:              true;

$icon-color:                    stencilColor("icon-color");
$icon-size:                     16px;

$header-item-icon-size:         2.5rem;
$header-item-icon-size-mobile:  2rem;