// CUSTOM ADD TO CART DESIGN STYLING

.add-to-cart-cont {

}

.form-field.form-field--increments {
    display: inline-block;
    height: 50px;
    background: green;
    /* width: 70px; */
    vertical-align: top;
}

.form-action.addToCartSubmit {
    display: inline-block;
    height: 50px;
    vertical-align: top;
}