// CUSTOM ADD TO CART DESIGN STYLING

.productView-options.add-to-cart-form {
    margin-bottom: 0;
}

.add-to-cart-cont {
    height: 50px;
    display: flex;
    background-color: $primary-color;
    
    .form-input--incrementTotal { 
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0;
        margin-right: 5px;
        color: black;
    }

    .form-field.form-field--increments {
        display: inline-block;
        height: 50px;
        background: $primary-color;
        width: 65px;
        max-width: 65px;
        margin: 0;
        vertical-align: top;
    }

    .form-increment {
        position: relative;
        padding: 5px;
        padding-right: 10px;

        .button {
            padding: 0;
            border: 0;
            position: absolute;
            top: 0;
            transform: translateY(20%);

            svg {
                color: white;
                height: 10px;
                width: 10px;
            }

            &:nth-child(3) {
                top: unset;
                bottom: 0;
                transform: translateY(-20%) rotate(180deg);
            }
        }
    } 

    #form-action-addToCart {
        margin: 0;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px;

        @include breakpoint("medium"){
            padding: 14px 36px;

        }
    }
}

.form-action.addToCartSubmit {
    display: inline-block;
    height: 50px;
    margin: 0 !important;
    flex-grow: 2;
}