// CUSTOM ADD TO CART DESIGN STYLING

.productView-options.add-to-cart-form {
    margin-bottom: 0;

    .btn-oos {
        min-width: 230px;
    }
}

.add-to-cart-cont {
    height: 50px;
    display: flex;
    background-color: $primary-color;
    
    .form-input--incrementTotal { 
        width: 5.5rem;
        height: 2.5rem;
        border-radius: 0;
        color: black;
    }

    .form-field.form-field--increments {
        display: inline-block;
        height: 50px;
        background: $primary-color;
        margin: 0;
        vertical-align: top;
    }

    .form-increment {
        position: relative;
        padding: 5px;

        // These button icons are rotated, so attributes need to be +/- 90 degress from what you're intending to do
        .button {
            padding: 0;
            border: 0;
            top: 11px;
            position: absolute;
            width: 2.5rem;
            height: 1.7rem;
            transform: translateY(20%);

            svg {
                color: $green;
                height: 10px;
                width: 10px;
                margin-bottom: 2px;
            }

            &[data-action="inc"] {
                right: -2px;
                transform: rotate(90deg);
            }
            
            &[data-action="dec"] {   
                left: -2px;
                transform: rotate(-90deg);
            }
        }
    } 

    .form-action-addToCart {
        margin: 0;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        padding: 5px;

        @include breakpoint("medium"){
            padding: 14px;
        }
    }
}

.form-action.addToCartSubmit {
    display: inline-block;
    height: 50px;
    margin: 0 !important;
    flex-grow: 2;
}