// =============================================================================
// Custom Styling for client-usable banner grid layout
// =============================================================================

.banner-row {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint('medium') {
    margin: 0 auto 30px;

    > div:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint('large') {
    flex-wrap: nowrap;
  }
}

.custom-banner {
  margin: 0;
  @include breakpoint('medium') {
    margin-right: 30px;
  }
}

.banner-full {
  width: 100%;
  position: relative;

  a {
    text-decoration: none;
  }
}

.banner-half {
  width: 100%;
  position: relative;

  @include breakpoint('medium') {
    width: calc(50% - 15px);
  }

  a {
    text-decoration: none;
  }

  .banner-content {
    @include breakpoint('medium') {
      max-width: 70%;
    }
    @include breakpoint('large') {
      max-width: 50%;
    }
  }
}

.banner-1_3 {
  width: 100%;
  position: relative;

  @include breakpoint('medium') {
    width: calc(40% - 15px);
  }

  a {
    text-decoration: none;
  }

  .banner-content {
    @include breakpoint('medium') {
      max-width: 85%;
    }
  }
}

.banner-2_3 {
  width: 100%;
  position: relative;

  @include breakpoint('medium') {
    width: calc(60% - 15px);
  }

  a {
    text-decoration: none;
  }
}

.banner-third {
  width: 100%;
  position: relative;

  @include breakpoint('medium') {
    width: calc(32.5% - 15px);
  }

  a {
    text-decoration: none;
  }

  .banner-content {
    @include breakpoint('medium') {
      max-width: 85%;
    }
    @include breakpoint('large') {
      max-width: 60%;
    }
  }
}

.banner-content {
  padding: spacing('half') 0;
  text-align: left;

  @include breakpoint('medium') {
    padding: spacing('half') spacing('single');
    left: 10px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    max-width: 50%;
    max-height: calc(100% - 40px);
  }

  .button--primary {
    width: 100%;
    padding: 7px 15px;

    @include breakpoint('medium') {
      width: auto;
    }
  }
}

.banner-title {
  color: $red;
  font-size: 24px;
  margin-top: 0;
  line-height: 1.2;

  @include breakpoint('medium') {
    color: $carousel-title-color;
    line-height: 1;
  }
}

.banner-description {
  color: $red;
  font-size: 18px;
  line-height: 1;

  @include breakpoint('medium') {
    color: $carousel-description-color;
  }
}

.banner-image-wrapper {
  height: 340px;
  overflow: hidden;

  @include breakpoint('small') {
    height: 500px;
  }

  @include breakpoint('medium') {
    height: 300px;
  }

  @include breakpoint('large') {
    height: 413px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.banner-image-overlay {
  @include breakpoint('medium') {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.3) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

// Styling for full width banners with 50% image beside 50% text

.dark-theme {
  color: $red;
}

.our-story-cont {
  @include breakpoint('medium') {
    padding: 0;
  }
}

.banner-image-only {
  max-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 69% 69%;

  @include breakpoint('small') {
    max-height: 350px;
  }

  @include breakpoint('medium') {
    max-height: 430px;
  }
}

.info-banner {
  .banner-description {
    font-size: 1rem;
  }
}

.banner-content-no-img {
  padding: spacing('half') 0;
  text-align: left;

  @include breakpoint('medium') {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    max-width: 700px;
    margin-right: 50px;
  }
}
