.home-banner-grid {
    position: relative;
}

.home-banner-full {
    width: 100%;
    position: relative;
    margin: 20px 0;

    a {
        text-decoration: none;
    }
}

.home-banner-half {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 20px 0;

    @include breakpoint("medium") {
        width: 48%;
        float: left;

        &:nth-child(2) {
            float: right;
        }
    }

    a {
        text-decoration: none;
    }
}

.banner-content {
    background-color: rgba($carousel-bgColor, 1);
    padding: spacing("half") spacing("single");
    text-align: left;

    @include breakpoint("medium") {
        background-color: rgba($carousel-bgColor, 1);
        left: 20px;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
    }
    
}

.banner-title {
    color: $carousel-title-color;
    font-size: 30px;
    margin-top: 0;
    font-family: $fontFamily-headings;
    font-weight: 700;
    line-height: 1.2;

    @include breakpoint("medium") {
        font-size: $fontSize-largest;
        line-height: 1;
    }
    
    @include breakpoint("large") {
        font-size: ($fontSize-hero / 2);
    }
}

.banner-description {
    color: $carousel-description-color;
    font-size: 20px;
    margin-bottom: 0;

    @include breakpoint("medium") {
        font-size: fontSize("large");
    }
}

.banner-image-wrapper {
    max-height: 180px;
    overflow: hidden;
    
    @include breakpoint("medium"){
        max-height: 340px;
    }
}