// =============================================================================
// CATEGORY - CUSTOM CLASSES FOR GWW
// =============================================================================

.category-header {
    display: inline-block;
    width: 100%;
    position: relative;
    
    img {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        
        @include breakpoint ("medium") {
            width: 66%;
            margin-left: 10px;
            margin-bottom: 10px;
            float: right;
        }
    }

    @include breakpoint ("medium") {
        overflow: hidden;
    }

    .stylised-title {
        border-bottom: solid 5px $maroon;
        padding-bottom: 5px;
        margin-top: 0;

        @include breakpoint ("medium") {
            width: 33%;
            font-size: 35px;
            padding-bottom: 10px;
        }
        
        @include breakpoint ("large") {
            font-size: 45px;
        }
    }
}

.category-img {    
    @include breakpoint("medium") {
        width: 100%;
    }
}

.category-text {
    background-color: white;
    width: 100%;

    @include breakpoint ("medium") {
        width: 100%;
        padding-right: 25px;
    }
}

.header-buttons {
    margin-top: 10px;
}

.stylised-title.title-with-back-btn {
    margin-top: 10px;
}

.read-more {
    display: inline-block;
}

.show-read-more {
    max-height: 168px;
    margin: 0;

    .more-text {     
        display: none;
    }
}