.newsletter-title {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: ($fontSize-largest * 1.5);
    font-weight: $fontWeight-black;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1.2;
}

.newsletter-intro {
    text-align: center;
}

.newsletter-form {
    .form-prefixPostfix {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-input, .form-prefixPostfix .button{
        border-radius: 0;
        margin: 0;
        border-color: $primary-color;
    }

    .button {
        border-radius: 0;
        margin: 0;
        border-color: $primary-color;
        text-transform: uppercase;
        background-color: $primary-color;
    }
    
    .hr-black {
        border-color: black;
    }
}

.newsletter-form {
    margin: 0;
    
    .form-input, .form-prefixPostfix .button{
        border-radius: 0;
        margin: 0;
        border-color: $primary-color;
    }

    .button {
        text-transform: uppercase;
        background-color: $primary-color;
    }

    .form-field {
        margin: 0;
    }
}

.discount-code {
    text-align: center;
}

.newsletter-cta-cont {
    display: flex;
}