.press-review-cont {
    padding: 10px;
}

.press-review-quote {
    font-size: 1em;
    line-height: 1.5;
}

.press-review-title {
    text-align: right;
    font-style: italic;
    font-weight: 600;
}