// Styling for press reviews

.press-review-cont {
  padding: 10px;
}

blockquote.press-review-quote {
  margin: 0;
}
blockquote.press-review-quote p {
  margin: 0;
}
.press-review-quote footer cite {
    color: rgb(53, 61, 65);
    display:inline;
    font-style: italic;
    font-size: fontSize('base');

}
.press-review-quote footer cite a {
    text-decoration: none;
}

.press-review-title {
  text-align: right;
  font-style: italic;
  font-weight: 600;
}
