
.productView-press-reviews {
    display: flex;
    flex-direction: column;

    @include breakpoint("medium") {
        flex-direction: row;
    }
}

.press-review-cont {
    width: 100%;
    flex-grow: 1;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:last-child {
        margin-top: 25px;
    }
    
    @include breakpoint("medium") {
        padding-left: 0;
        padding-right: 1.5rem;

        &:last-child {
            padding-right: 0;
            margin-top: 0;
        }
    }
}

.press-review-quote {
    font-size: 1em;
    line-height: 1.5;
}

.press-review-title {
    text-align: right;
    font-style: italic;
    font-weight: 600;
}