// =============================================================================
// PRODUCT GROUP PAGE - CUSTOM CLASSES FOR GWW FOR CUSTOM DYNAMIC LIST/GRID VIEW TOGGLING
// =============================================================================

.group-item {
    text-align: center;
    margin-bottom: 25px;

    a {
        text-decoration: none;
    }

    &.is-open {
        text-align: left;
        border: 2px solid $color-warning !important;

        .close-sub-items {
            float: right;
            display: block;
        }

        .group-item-image img {
            width: 40%;
        }

        .stylised-slim {
            padding-bottom: 10px;
            border-bottom: 2px solid $grey-xlt;
        }

        .group-item-options {
            display: none;
        }

        .group-sub-items {
            display: flex;
            margin-left: 0;
        }

        .icon {
            height: 0.5rem;
            margin-left: 5px;
            display: inline-block;
        }

        .btn-coral-line {
            display: none;
        }

        .group-item-cont {
            margin: 0 10px;
            border: 2px solid $color-warning !important;
        }
    }    
}

.close-sub-items {
    display: none;
}

.group-sub-items {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 170px;
    
    .icon {
        display: none;
    }
    
    @include breakpoint("small") {
        max-height: 160px;
    }

    @include breakpoint("large") {
        max-height: 175px;
    }
}

.country-item {
    .group-item-options {
        display: none;
    }

    .display-toggle {
        display: block;
    }

    .group-sub-items {
        max-height: none;
    }
}

.group-item-image {
    margin-bottom: spacing("base");
    text-align: left;
    max-height: 170px;
    overflow: hidden;

    img {
        width: 100%;
        transition: all 0.5s ease;
    }
}

.group-item-title {
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.group-item-options {
    display: block;
    margin-top: (spacing("base"));
    transition: all 0.5s ease;
}

.splitter {
    border-top: 1px solid;
    font-size: 1.25em;
    list-style: none;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
.page-sidebar + .page-content.grid-with-sub-items {
    .productGrid {
        margin: 0;
    }

    .group-item {
        height: 330px;
        margin-top: 10px;
        
        &.product {
            border-bottom: 0;
            border-right: 0;
            overflow: hidden;
            
            @include breakpoint("small") {
                width: 46%;
                height: 310px;
                margin: 10px;
            }
            
            @include breakpoint("large") {
                width: 23.3%;
                margin: 10px;
            }

            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-top: 0;
            }
        }
    }
}

.page-content.grid-with-sub-items {
    .productGrid {
        margin: 0;
    }

    .group-item {
        margin-top: 10px;
        
        &.product {
            border-bottom: 0;
            border-right: 0;
            overflow: hidden;
            
            @include breakpoint("small") {
                width: 46%;
                margin: 10px;
            }
            
            @include breakpoint("large") {
                width: 23.3%;
                margin: 10px;
            }

            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-top: 0;
            }
        }
    }
}
