// =============================================================================
// Producer Pages
// =============================================================================

// Header

.brand-content-header {

    .featured-images-cont {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;

            @include breakpoint("small"){  
                width: auto;
            }

            @include breakpoint("medium"){  
                min-width: 0;
                width: 100%;
                height: auto;
            }
        }

        img:not(:first-child) {
            display: none;

            @include breakpoint("medium"){  
                display: inline-block;
            }
        }
    }

    .producer-top {
        background-color: $blue-lt;
    }

    .producer-header {
        background-color: white;
        position: relative;
        padding: 10px 20px;
        margin: -80px 15px 10px;
        
        @include breakpoint("medium"){
            display: flex;
            align-items: flex-start;
            padding: 20px;
            max-width: 65%;
            margin: -80px 0 30px 20px;
        }

        @include breakpoint("large"){
            max-width: 50%;
        }

        & > img {
            max-width: 160px;
            max-height: 160px;

            @include breakpoint("medium"){
                margin-right: 15px;
            }
        }

        .producer-title {
            font-family: $fontFamily-headings;
            font-size: 35px;
            font-weight: 700;
            line-height: 1;
            margin-top: 1rem;
        
            @include breakpoint("large"){
                font-size: 70px;
            }
        }

        .producer-chips {
            margin-left: 0;
            
            li {
                display: inline-block;
                color: $maroon;
                position: relative;
                padding-right: 15px;
                margin: 0;
                margin-right: 15px;

                &:last-child {
                    &::before {
                        content: '';
                    }
                }

                &::before {
                    content: '◆';
                    position: absolute;
                    font-size: 10px;
                    right: -5px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .producer-top-info {
        display: flex;
        padding: 10px 20px;
        flex-direction: column;

        @include breakpoint("medium"){  
            flex-direction: row;
        }

        > div:first-child {
            flex-grow: 0;
            
            @include breakpoint("medium"){
                max-width: 65%;
                margin-right: 50px;
            }
        
            @include breakpoint("large"){
                max-width: 50%;
            }
        

            h2 {
                font-family: $fontFamily-headings;
                font-size: 35px;
                font-weight: 700;
                line-height: 1;
                margin-top: 1rem;
            
            }
        }

        .brand-icons {
            flex-grow: 1;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 30px;

            &> div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                flex: 0 0 calc(50% - 30px);
                
                @include breakpoint("small"){
                    flex: 0 0 calc(33% - 30px);
                }

                @include breakpoint("medium"){
                    flex: 0 0 calc(25% - 30px);
                }
            
                .icon {
                    display: block;
                    margin: 0 0 10px;
                    height: 45px;
                    width: 45px; 
                }
            
                .text-icon {
                    font-size: 2rem;
                }
            
                .flag-icon {
                    border-radius: 100%;
                }
            }
        }
    }
}

// Main content
.brand-content-main, .brand-content-footer {
    margin-bottom: 30px;

    .bg-maroon {
        background-color: $brand-maroon;
    }

    .bg-blue{
        background-color: $brand-blue;
    }

    .bg-gold {
        background-color: $brand-gold;
    }

    .bg-green {
        background-color: $brand-green
    }

    // 5050 sections
    .block-50-50 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        
        @include breakpoint("medium"){
            padding: 30px;
            flex-direction: row;
            gap: 50px;
        }

        &.block-reverse {
            flex-direction: column-reverse;

            @include breakpoint("medium"){
                flex-direction: row-reverse;
            }
        }

        > div {
            @include breakpoint("medium"){
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        > img {
            @include breakpoint("medium"){
                width: 50%;
            }
        }

        h2 {
            border-bottom: solid 5px $maroon;
            padding-bottom: 5px;
            margin-top: 0;
            width: fit-content;
            padding-right: 20px;
            font-family: $fontFamily-headings;
            margin-top: 1rem;
        }

        &.bordered {
            margin: 20px;
            border: 1px solid $maroon;
            
            @include breakpoint("medium"){
                margin: 30px;
            }

            > div {
                @include breakpoint("medium"){
                    padding: 30px;
                }
            }
        }
    }

    a, button {
        border-bottom: 5px solid $coral;
        color: $black;
        align-self: flex-start;
        display: inline-block;
        padding: 5px 0;
        line-height: 1.15;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
    
        .icon {
            height: 13px;
            margin-left: 10px;
        }
    }
}
