
// Used to specifically hide the membership number field on both live and test

// Field 26 is the Membership Number field
#FormField_26 {
    display: none;
    clear: none;
}

#FormField_28, #FormField_30, #FormField_32 {
    display: none;
    
    .form-label {
        display: none;
    }
    
    .form-label.checkbox-label {
        display: block;
        text-transform: none;
    }
}

// Field 2 is the first Password field
#FormField_2 {
    clear: both;
}

// Field 3 is the Confirm Password field
#FormField_3 {
    clear: none;
}

// Field 4 is the First Name field
#FormField_4 {
    clear: left;
}

// Field 5 is the Last Name field
#FormField_5 {
    clear: none;
}

// Field 8 is the Last Name field
#FormField_8 {
    clear: left;
}

// Field 9 is the Last Name field
#FormField_9 {
    clear: none;
}

// Field 11 is the Last Name field
#FormField_11 {
    clear: none;
}

// Field 13 is the Last Name field
#FormField_13 {
    clear: none;
}