// =============================================================================
// TYPOGRAPHY - CUSTOM CLASSES OUTSIDE OF FOUNDATION
// =============================================================================

.stylised-title {
    font-family: $fontFamily-headings;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    margin-top: 1rem;

    @include breakpoint("large"){
        font-size: 50px;
    }
}

.brand-color-text {
    color: $primary-color;
}