// =============================================================================
// USP BLOCK (CSS)
// =============================================================================

.usp-wrap {
    background-color: $crimson;
}

.usp-container {
    margin-bottom: 20px;

    @include breakpoint("medium") {
        display: flex;
        justify-content: space-between;
    }
}

.usp-link {
    text-decoration: none;
}

.usp-block {
    width: 100%;
    position: relative;
    padding: 3px 0;

    &:not(:first-child) {
        display: none;
    }

    p {
        margin-left: ($header-item-icon-size-mobile + 1rem);
        margin-bottom: 0;
        line-height: 1.2rem;
        color: white;
    }

    .icon {
        height: $header-item-icon-size-mobile;
        width: $header-item-icon-size-mobile;
        position: absolute;
        left: 10;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    &:hover {
        background-color: $crimson-lt;
    }

    @include breakpoint("medium") {
        width: 30%;
        
        &:not(:first-child) {
            display: inline-block;
        }
    }
}

.usp-content {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.usp-main-txt {
    font-weight: $fontWeight-semibold;
    display: block;
}