// =============================================================================
// UTILITY CLASSES
// =============================================================================

.float-left {
  @include breakpoint('small') {
    float: left;
    padding-right: 20px;
  }
}

.float-right {
  @include breakpoint('small') {
    float: right;
    padding-left: 20px;
  }
}

.center {
  display: block;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear {
  clear: both;
}

// Panels

.relative {
  position: relative;
}

.banner-content {
  &.custom-bg {
  }

  &.light {
    .banner-description,
    .banner-title,
    .btn-coral-line {
      border-color: white;
      color: white;
    }
  }

  &.dark {
    .banner-description,
    .banner-title,
    .btn-coral-line {
      border-color: $black;
      color: $black;
    }
  }
}
