// =============================================================================
// VARIABLES (CSS)
// This file is used for custom variables needed for GWW that can't be easily integrated into the config.json
// file in any non-disruptive way.
// =============================================================================

$xl-green:    #E9F0F2;
$peach:       #E1675C; //Default accent colour

$black:       #1D1D1B; // Black for fonts
$grey-bg:     #E9F0F2; // Background colour for input fields
$dark-grey:   #666666; // Placeholder input fields