// =============================================================================
// VARIABLES (CSS)
// This file is used for custom variables needed for GWW that can't be easily integrated into the config.json
// file in any non-disruptive way.
// =============================================================================


// All variables are available here, regardless of use in config.json file or not

//Original Great Western Wine brand colours
$green:         #357044; // Primary brand colour
$coral:         #E1675C; // Primary brand accent colour

// Great Wine Co Launch Brand Colours
$blue:          #6576a4;
$blue-dk:       #435159;
$crimson-lt:     #a94964;
$crimson:       #a53051;
$coral:         #f0858e;
$olive:         #98a85a;
$yellow:        #f2d884;

// Additional colours
$blue-grey-lt:  #E9F0F2; // Background colour for input fields
$navy: #215fbf;

$grey-lt:       #b6b6b6; // Placeholder input fields & some hover, used often in config.json
$grey-md:       #757575; // Placeholder input fields & some hover, used often in config.json
$grey-dk:       #333333; // Primary use in config.json

$black:         #1D1D1B; // Black for fonts
