// Classes for use within the sites admin/WYSIWYG editors, primarily for blog posts

.justified {
    text-align: justify;
}

.align-left {
    @include breakpoint("medium") {
        float: left;
        margin: 0 2em 1em 0;
    }
}

.align-right {
    @include breakpoint("medium") {
        float: right;
        margin: 0 0 1em 2em;
    }
}

.flex-images {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @include breakpoint("medium") {
        flex-direction: row;
        justify-content: center;
    }
}

.clear-both {
    clear: both;
}