
<div class="cat-squares-cont">
    <div class="cat-square-wrap" >
        <a href="/gin/" data-cta-category-name="Cat Squares" data-cta-product-name="Gin" data-cta-url="https://{{settings.request.host}}/gin/" data-cta-category-id="Our Spirits" lt= "{{concat settings.request.host settings.request.absolute_path}}">
            <div class="cat-square">
                <img data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto/v1598557413/spiritskiosk/home/gin_mvzfrt.jpg"
                    class="cld-responsive" alt="Gin">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Gin</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/whisky/" data-cta-category-name="Cat Squares" data-cta-product-name="Whisky" data-cta-url="https://{{settings.request.host}}/whisky/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto/v1598557412/spiritskiosk/home/whisky_fgxady.jpg"
                    class="cld-responsive" alt="Whisky">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Whisky</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/rum/" data-cta-category-name="Cat Squares" data-cta-product-name="Rum" data-cta-url="https://{{settings.request.host}}/rum/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557403/spiritskiosk/home/rum_rklwwq.jpg"
                    class="cld-responsive" alt="Rum">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Rum</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/tequila-and-mezcal/" data-cta-category-name="Cat Squares" data-cta-product-name="Tequila And Mezcal" data-cta-url="https://{{settings.request.host}}/tequila-and-mezcal/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557412/spiritskiosk/home/tequila_angcgu.jpg"
                    class="cld-responsive" alt="Tequila &amp; Mezcal">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Tequila &amp; Mezcal</h3>
            </div>
        </a>
    </div>

    <div class="cat-square-wrap">
        <a href="/vodka/" data-cta-category-name="Cat Squares" data-cta-product-name="Vodka" data-cta-url="https://{{settings.request.host}}/vodka/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557412/spiritskiosk/home/vodka_wl4lwd.jpg"
                    class="cld-responsive" alt="Vodka">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Vodka</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/cognac-and-brandy/" data-cta-category-name="Cat Squares" data-cta-product-name="Cognac And Brandy" data-cta-url="https://{{settings.request.host}}/cognac-and-brandy/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557413/spiritskiosk/home/brandy_jbsqnh.jpg"
                    class="cld-responsive" alt="Brandy">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Brandy</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/aperitifs/" data-cta-category-name="Cat Squares" data-cta-product-name="Aperitifs" data-cta-url="https://{{settings.request.host}}/aperitifs/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557405/spiritskiosk/home/aperitifs_htngb6.jpg"
                    class="cld-responsive" alt="Aperitifs">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Aperitifs</h3>
            </div>
        </a>
    </div>
    <div class="cat-square-wrap">
        <a href="/liqueurs/" data-cta-category-name="Cat Squares" data-cta-product-name="Liqueurs" data-cta-url="https://{{settings.request.host}}/liqueurs/" data-cta-category-id="Our Spirits">
            <div class="cat-square"><img
                    data-src="https://res.cloudinary.com/enotria/image/upload/w_auto,c_scale,dpr_auto,f_auto,q_auto/v1598557399/spiritskiosk/home/liqueurs_rtghoe.jpg"
                    class="cld-responsive" alt="Liqueurs">
                <div class="cat-square-overlay"></div>
                <h3 class="cat-square-title">Liqueurs</h3>
            </div>
        </a>
    </div>
</div>