<div class="home-banner-grid">

    <div class="home-banner-full">
        <a href="/offers/fine-wine-managers-selection-2020/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="{{getImageManagerImage 'fine-tom-home.jpg' width=1380}}"
                        srcset="{{getImageManagerImageSrcset 'fine-tom-home.jpg'}}"
                        alt="2020 Fine Wine Manager's Selection" class="lazyautosizes lazyloaded"
                        loading="lazy" style="width:100%; object-fit: cover;">
                </div>
                <div class="banner-content">
                    <p class="banner-description">2020 Fine Wine Manager's Selection</p>
                    <h2 class="banner-title"><br>Save up to 22% on Tom King's favourites</h1>
                        <span class="btn btn-coral-line">Explore the wines</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="/stelle-ditalia-prosecco-rose-doc-millesimato-brut-2019">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="{{getImageManagerImage 'banimg-proseccopink.jpg' width=662}}"
                        srcset="{{getImageManagerImageSrcset 'banimg-proseccopink.jpg'}}"
                        alt="Pink Prosecco" class="lazyautosizes lazyloaded" loading="lazy"
                        style="width:100%; object-fit: cover;">
                </div>
                <div class="banner-content">
                    <p class="banner-description"></p>
                    <h2 class="banner-title">Rosé Prosecco is here!</h1>
                        <span class="btn btn-coral-line">Buy now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="/blog/5-reasons-why-a-coravin-wine-system-is-worth-every-penny/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="{{getImageManagerImage 'coravin-half-home.jpg' width=662}}"
                        srcset="{{getImageManagerImageSrcset 'coravin-half-home.jpg'}}"
                        alt="Coravin wine system" class="lazyautosizes lazyloaded" loading="lazy"
                        style="width:100%; object-fit: cover;">
                </div>
                <div class="banner-content">
                    <p class="banner-description">5 Reasons why it is worth every penny</p>
                    <h2 class="banner-title">Coravin wine system</h1>
                        <span class="btn btn-coral-line">Buy now</span>
                </div>
            </div>
        </a>
    </div>

</div>