<div class="home-banner-grid">

    <div class="home-banner-full">
        <a href="/offers/revelling-in-riesling-save-up-to-30/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/full-width-homepage-banners-riesling.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Save up to 30%</p>
                    <h2 class="banner-title">Revelling in Riesling</h1>
                    <span class="btn btn-coral-line">Buy now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="/producers/weingut-leitz/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/half-width-homepage-banner-leitz.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Introducing Weingut Leitz</p>
                    <h2 class="banner-title">Unbeatable Riesling from £11.70</h1>
                    <span class="btn btn-coral-line">Buy now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="/producers/swinney-vineyards/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/half-width-homepage-banner-swinney.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Australia's finest</p>
                    <h2 class="banner-title">Swinney Vineyards</h1>
                    <span class="btn btn-coral-line">Buy now</span>
                </div>
            </div>
        </a>
    </div>
    
</div>