<div class="menu-first-highlight">
  <a href="/pere-ventura-cuvee-classic-cava" title="Pere Ventura">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'meganav-nov23-pere-ventura.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'meganav-nov23-pere-ventura.jpg'}}" alt="SALE"
        class="lazyautosizes lazyloaded" loading="lazy" style="width: 100%; object-fit: cover" />
      <div class="highlight-wrap">
        <p class="highlight-text">Pere Ventura</p>
        <button class="btn btn-coral-line highlight-link">Cuvée Classic below £10 per bottle<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>