<div class="menu-first-highlight">
    <a href="/offers/fine-wine-managers-selection-2020/">
        <div class="highlight-cont">
            <img src="{{getImageManagerImage 'fine-tom-megamenu.jpg' width=1050}}"
                srcset="{{getImageManagerImageSrcset 'fine-tom-megamenu.jpg'}}"
                alt="Fine Wine Manager's Selection 2020" class="lazyautosizes lazyloaded"
                loading="lazy" style="width:100%; object-fit: cover;">
            <div class="highlight-wrap">
                <p class="highlight-text">Save up to 22%<br>Fine Wine Manager's <br />Selection 2020
                </p>
                <button class="btn btn-coral-line highlight-link">Buy now<i
                        class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>