<div class="menu-first-highlight">
    <a href="/audemus-pink-pepper-gin-original-gift-pack-nv">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/mega-menu-pink-pepper-gift.jpg?" alt="" class="lazyautosizes lazyloaded" loading="lazy">
            <div class="highlight-wrap">
                <p class="highlight-text">Gift Packed Pink Pepper Gin<br>Was <strike>£45.00</strike><br>Save £9.00<br>Now only £36</p>
                <button class="btn btn-coral-line highlight-link">Buy it now<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>