<div class="menu-first-highlight">
  <a href="/peroni-peroni-nastro-azzurro-case-of-24-x-330ml-pack-of-24">
    <div class="highlight-cont">
      <img
        src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/megamenu-peroniazzuro.jpg"
        alt="Peroni Nastro Azzuro">
      <div class="highlight-wrap">
        <p class="highlight-text">Peroni Nastro Azzuro 24 pack for £36</p>
        <button class="btn btn-coral-line highlight-link">Buy now<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>