<div class="menu-first-highlight">
  <a href="/stelle-ditalia-prosecco-rose-doc-millesimato-brut-2019"
    title="Prosecco Rosé DOC, Millesimato Brut, Stelle d'Italia">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'megamenu-champagne-sparkling.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'megamenu-champagne-sparkling.jpg'}}"
        alt="Prosecco Rosé DOC, Millesimato Brut, Stelle d'Italia" class="lazyautosizes lazyloaded"
        loading="lazy" style="width:100%; object-fit: cover;">
      <div class="highlight-wrap">
        <p class="highlight-text">Ros&eacute; Prosecco is here!<br></p>
        <button class="btn btn-coral-line highlight-link">Buy now<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>