<div class="menu-first-highlight">
  <a href="/sparkling-wine/producers/ruggeri/" title="Ruggeri Proescco">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'meganav-sale-fizz.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'meganav-sale-fizz.jpg'}}"
        alt="A bottle of Ruggeri Prosecco on ice"
        class="lazyautosizes lazyloaded" loading="lazy" style="width: 100%; object-fit: cover" />
      <div class="highlight-wrap">
        <p class="highlight-text">Ruggeri Proescco</p>
        <button class="btn btn-coral-line highlight-link"> Superior Proseccos from one of the Veneto's top names<i class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>