<div class="menu-first-highlight">
  <a href="/gifts-more/mixed-cases/" title="Mixed Cases">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'mixedcases-cat-ban.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'mixedcases-cat-ban.jpg'}}" alt="Mixed Cases"
        class="lazyautosizes lazyloaded" loading="lazy" style="width:100%; object-fit: cover;">
      <div class="highlight-wrap">
        <p class="highlight-text">Mixed Cases</p>
        <button class="btn btn-coral-line highlight-link">Shop the range<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>