<div class="menu-first-highlight">
    <a href="/peroni-peroni-nastro-azzurro-case-of-24-x-330ml-pack-of-24"
        title="Peroni Nastro Azzuro">
        <div class="highlight-cont">
            <img src="{{getImageManagerImage 'peroni.jpg' width=1050}}"
                srcset="{{getImageManagerImageSrcset 'peroni.jpg'}}" alt="Peroni Nastro Azzuro"
                class="lazyautosizes lazyloaded" loading="lazy"
                style="width:100%; object-fit: cover;">
            <div class="highlight-wrap">
                <p class="highlight-text">Peroni Nastro Azzuro 24 pack for &pound;36</p>
                <button class="btn btn-coral-line highlight-link">Buy it now<i
                        class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>