<div class="menu-first-highlight">
    <a href="/blog/following-fellini-seresin/">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/seresin-mega.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
            <div class="highlight-wrap">
                <p class="highlight-text">Our latest edition from New Zealand<br>Seresin</p>
                <button class="btn btn-coral-line highlight-link">Find out more<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>