<div class="menu-first-highlight">
    <a href="/offers/french-wine-fair">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/france-ko-mega.jpg" alt="">
            <div class="highlight-wrap">
                <p class="highlight-text">Save up to 23% on our French Wine Fair<br>Foire aux Vins</p>
                <button class="btn btn-coral-line highlight-link">Buy now<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>