<div class="menu-first-highlight">
  <a href="/producers/vinedos-sierra-cantabria/">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'sierra-cantabria-horse.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'sierra-cantabria-horse.jpg'}}"
        alt="A horse works Sierra Cantabria's vineyards" class="lazyautosizes lazyloaded" loading="lazy"
        style="width:100%; object-fit: cover;">
      <div class="highlight-wrap">
        <p class="highlight-text">Sustainable, low-impact viticulture at Sierra Cantabria<br></p>
        <button class="btn btn-coral-line highlight-link">Explore Sierra Cantabria<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>