<div class="menu-first-highlight">
    <a href="/offers/the-grape-escape-live/">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/mega-menu-leoube-insta.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
            <div class="highlight-wrap">
                <p class="highlight-text">The Grape Escape LIVE<br>Live Tastings every Thursday</p>
                <button class="btn btn-coral-line highlight-link">Find out more<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>