<div class="menu-first-highlight">
  <a href="/producers/chateau-leoube/" title="Château Léoube">
    <div class="highlight-cont">
      <img
        src="{{getImageManagerImage 'meganav-leoube-lamb.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'meganav-leoube-lamb.jpg'}}"
        alt="A lamb grazes in the meadow next to Château Léoube's vineyards"
        class="lazyautosizes lazyloaded"
        loading="lazy"
        style="width: 100%; object-fit: cover" />
      <div class="highlight-wrap">
        <p class="highlight-text">Organic viticulture in Provence<br /></p>
        <button class="btn btn-coral-line highlight-link">
          Explore Château Léoube<i class="fas fa-chevron-right icon"></i>
        </button>
      </div>
    </div>
  </a>
</div>
