<div class="menu-first-highlight">
  <a href="/port/">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'megamenu-fortified-dessert.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'megamenu-fortified-dessert.jpg'}}"
        alt="Quinta do Crasto in the Douro" class="lazyautosizes lazyloaded" loading="lazy"
        style="width:100%; object-fit: cover;">
      <div class="highlight-wrap">
        <p class="highlight-text">Quinta do Crasto Ports<br></p>
        <button class="btn btn-coral-line highlight-link">Buy now<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>