<div class="menu-first-highlight">
  <a href="/australia-up-to-25pc-off/" title="Focus on Australia - up to 25% off">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'meganav-darenberg.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'meganav-darenberg.jpg'}}"
        alt="The Cube at d'Arenberg in McLaren Vale, Australia" class="lazyautosizes lazyloaded"
        loading="lazy" style="width:100%; object-fit: cover;">
      <div class="highlight-wrap">ß <p class="highlight-text">Focus on Australia - up to 25% off</p>
        <button class="btn btn-coral-line highlight-link">Shop<i
            class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>