<div class="menu-first-highlight">
    <a href="/koniks-tail-vodka-nv">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/konicks-tail.jpg?t=1580809388&_ga=2.24461689.276230249.1580807676-1065216460.1534774292" alt="">
            <div class="highlight-wrap">
                <p class="highlight-text">The brainchild of vodka enthusiasts<br>Konik's Tail Vodka</p>
                <button class="btn btn-coral-line highlight-link">Take a look<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>