<div class="menu-first-highlight">
  <a href="/salute-the-wines-of-italy/producers/frescobaldi" title="Salute! Frescobaldi">
    <div class="highlight-cont">
      <img src="{{getImageManagerImage 'meganav-may23-frescobaldi.jpg' width=1050}}"
        srcset="{{getImageManagerImageSrcset 'meganav-may23-frescobaldi.jpg'}}"
        alt="Barrels lie in the impressive cellars of Frescobaldi's Tenuta Perano"
        class="lazyautosizes lazyloaded" loading="lazy" style="width: 100%; object-fit: cover" />
      <div class="highlight-wrap">
        <p class="highlight-text">Salute! Frescobaldi</p>
        <button class="btn btn-coral-line highlight-link"> At least 20% off when you buy 12+
          bottles<i class="fas fa-chevron-right icon"></i></button>
      </div>
    </div>
  </a>
</div>