<div class="menu-first-highlight">
    <a href="/offers/january-sale/january-sale-under-10/">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/mega-menu-wine-best-under-10.jpg?t=1578415958&_ga=2.205083539.229516391.1578301805-1065216460.1534774292" alt="">
            <div class="highlight-wrap">
                <p class="highlight-text">January Sale - Best under £10<br>Save up to 50%</p>
                <button class="btn btn-coral-line highlight-link">Take a look<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>