<div class="menu-first-highlight">
    <a href="/ultimate-aperol-kit/">
        <div class="highlight-cont">
            <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/mega-menu-aperol.jpg" alt="" class="lazyautosizes lazyloaded" loading="lazy">
            <div class="highlight-wrap">
                <p class="highlight-text">Aperol Spritz Kit<br>Was <strike>£59.25</strike><br>Now only £45</p>
                <button class="btn btn-coral-line highlight-link">Buy it now<i class="fas fa-chevron-right icon"></i></button>
            </div>
        </div>
    </a>
</div>