<div class="banner-container">
  <div class="banner-grid">
    <div class="banner-grid__item banner-grid__item--half">
      <a href="/wine/fine-wine/" title="Fine Wine">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'home-fine-wine-amarone-2760x1553.jpg' width=2760}}"
            srcset="{{getImageManagerImageSrcset 'home-fine-wine-amarone-2760x1553.jpg'}}"
            alt="A 2015 vintage sticker being applied to a bottle of Bertani's Amarone"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <h2>Fine Wine</h2>
          <p>Browse our inspirational fine wine list</p>
          <span class="btn">Shop Now</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--half">
      <a href="/tastings-events/" title="Tastings & Events">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'home-tasting-1602x902.jpg' width=1602}}"
            srcset="{{getImageManagerImageSrcset 'home-tasting-1602x902.jpg'}}"
            alt="An image showing a tasting sample being poured into a glass at one of our events"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <h2>Tastings &amp; Events</h2>
          <p>Join us to explore the world of wine</p>
          <span class="btn">Upcoming Events</span>
        </div>
      </a>
    </div>
    
    <div class="banner-grid__item banner-grid__item--third">
      <a href="/gifts-and-more/" title="Wine and Spirits Gifts">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'home-stories-catena-1602x902.jpg' width=1602}}"
            srcset="{{getImageManagerImageSrcset 'home-stories-catena-1602x902.jpg'}}"
            alt="An image showing a tasting sample being poured into a glass at one of our events"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <h2>Stories</h2>
          <p>Read the latest on our blog</p>
          <span class="btn">Read More</span>
        </div>
      </a>
    </div>
    
    <div class="banner-grid__item banner-grid__item--third">
      <a href="/gifts-and-more/" title="Wine and Spirits Gifts">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'home-stories-catena-1602x902.jpg' width=1602}}"
            srcset="{{getImageManagerImageSrcset 'home-stories-catena-1602x902.jpg'}}"
            alt="An image showing a tasting sample being poured into a glass at one of our events"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <h2>Stories</h2>
          <p>Read the latest on our blog</p>
          <span class="btn">Read More</span>
        </div>
      </a>
    </div>
    
    <div class="banner-grid__item banner-grid__item--third">
      <a href="/gifts-and-more/" title="Wine and Spirits Gifts">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'home-stories-catena-1602x902.jpg' width=1602}}"
            srcset="{{getImageManagerImageSrcset 'home-stories-catena-1602x902.jpg'}}"
            alt="An image showing a tasting sample being poured into a glass at one of our events"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <h2>Stories</h2>
          <p>Read the latest on our blog</p>
          <span class="btn">Read More</span>
        </div>
      </a>
    </div>
  </div>
</div>
