<div class="banner-container">
  <div class="banner-grid">

    <div class="banner-grid__item banner-grid__item--two-thirds">
      <a href="/planeta/" title="Planeta">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'planeta.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'planeta.jpg'}}"
            alt="Alessio Planeta and his family at one of Planeta's six Sicilian wineries."
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Planeta</h2>
          <span class="btn">Explore Planeta</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/brands/berlucchi/" title="Berlucchi">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'berlucchi.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'berlucchi.jpg'}}"
            alt="A photograph of Franco Ziliani and his family"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Berlucchi</h2>
          <span class="btn">Explore Berlucchi</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/bertani/" title="Bertani">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'bertani.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'bertani.jpg'}}"
            alt="A bottle of Bertani Catullo Vapolicella Classico sits on a wooden box in the Bertani winery"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Bertani</h2>
          <span class="btn">Explore Bertani</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/fontanafredda/" title="Fontanafredda">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'fontanafredda.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'fontanafredda.jpg'}}"
            alt="An image of the beautiful Fontanafredda winery in Barolo's vineyards"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Fontanafredda</h2>
          <span class="btn">Explore Fontanafredda</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/frescobaldi/" title="Frescobaldi">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'frescobaldi.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'frescobaldi.jpg'}}"
            alt="A photo of the stunning barrel hall at Tenuta Perano in Chianti, one of Frescobaldi's properties"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Frescobaldi</h2>
          <span class="btn">Explore Frescobaldi</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/brands/caccia-al-piano/" title="Caccia al Piano">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'caccia-al-piano.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'caccia-al-piano.jpg'}}"
            alt="An image of Caccia al Piano's winery in Bolgheri, Tuscany"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Italy">
            <span class="flag-icon flag-icon-it flag-icon-squared icon"></span>
          </div>
          <h2>Caccia al Piano</h2>
          <span class="btn">Explore Caccia al Piano</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/joseph-drouhin/" title="Joseph Drouhin">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'joseph-drouhin.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'joseph-drouhin.jpg'}}"
            alt="A photo of the entrance gate to Joseph Drouhin's Clos des Mouches vineyard in Beaune"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="France">
            <span class="flag-icon flag-icon-fr flag-icon-squared icon"></span>
          </div>
          <h2>Joseph Drouhin</h2>
          <span class="btn">Explore Joseph Drouhin</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/trimbach/" title="Trimbach">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'trimbach.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'trimbach.jpg'}}"
            alt="A view looking up at Alsatian vineyards from Ribeauvillé where Trimbach are based "
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="France">
            <span class="flag-icon flag-icon-fr flag-icon-squared icon"></span>
          </div>
          <h2>Trimbach</h2>
          <span class="btn">Explore Trimbach</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/pago-de-carraovejas/" title="Pago de Carraovejas">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'pago-de-carraovejas.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'pago-de-carraovejas.jpg'}}"
            alt="A photo of Pago de Carraovejas' modern winery with it's tasting and event space looking over their Ribera del Duero vineyards"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Spain">
            <span class="flag-icon flag-icon-es flag-icon-squared icon"></span>
          </div>
          <h2>Pago de Carraovejas</h2>
          <span class="btn">Explore Pago de Carraovejas</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/quinta-do-crasto/" title="Quinta do Crasto">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'quinta-do-crasto.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'quinta-do-crasto.jpg'}}"
            alt="A photo of Miguel and Tomas Roquette, whose family have owned Qunita do Crasto for over a century"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Spain">
            <span class="flag-icon flag-icon-es flag-icon-squared icon"></span>
          </div>
          <h2>Quinta do Crasto</h2>
          <span class="btn">Explore Quinta do Crasto</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/sierra-cantabria/" title="Sierra Cantabria">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'sierra-cantabria.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'sierra-cantabria.jpg'}}"
            alt="An image of a donkey working Sierra Cantabria's organic vineyards"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Spain">
            <span class="flag-icon flag-icon-es flag-icon-squared icon"></span>
          </div>
          <h2>Sierra Cantabria</h2>
          <span class="btn">Explore Sierra Cantabria</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/gramona/" title="Gramona">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'gramona.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'gramona.jpg'}}"
            alt="A close-up image of a barrel with an endplate bearing the Gramona logo"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Spain">
            <span class="flag-icon flag-icon-es flag-icon-squared icon"></span>
          </div>
          <h2>Gramona</h2>
          <span class="btn">Explore Gramona</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/brands/catena/" title="Catena">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'catena.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'catena.jpg'}}"
            alt="An image of the iconic Catena Zapata winery taken at twilight"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Argentina">
            <span class="flag-icon flag-icon-ar flag-icon-squared icon"></span>
          </div>
          <h2>Catena</h2>
          <span class="btn">Explore Catena</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/ken-forrester-wines/" title="Ken Forrester">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'ken-forrester.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'ken-forrester.jpg'}}"
            alt="A photo of Ken Forrester and his dogs walking through one of his Stellenbosch vineyards"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="South Africa">
            <span class="flag-icon flag-icon-za flag-icon-squared icon"></span>
          </div>
          <h2>Ken Forrester</h2>
          <span class="btn">Explore Ken Forrester</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/brands/thelema/" title="Thelema">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'thelema.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'thelema.jpg'}}"
            alt="A close-up image of a bottle of Thelema Cabernet Sauvignon"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="South Africa">
            <span class="flag-icon flag-icon-za flag-icon-squared icon"></span>
          </div>
          <h2>Thelema</h2>
          <span class="btn">Explore Thelema</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/bogle-family-vineyards/" title="Bogle">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'bogle.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'bogle.jpg'}}"
            alt="A photo of the Bogle family taken in their California vineyard"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="USA">
            <span class="flag-icon flag-icon-us flag-icon-squared icon"></span>
          </div>
          <h2>Bogle</h2>
          <span class="btn">Explore Bogle</span>
        </div>
      </a>
    </div>

    <div class="banner-grid__item banner-grid__item--third">
      <a href="/ixsir/" title="Ixsir">
        <div class="banner-grid__item__img-wrapper">
          <img src="{{getImageManagerImage 'ixsir.jpg' width=1600}}"
            srcset="{{getImageManagerImageSrcset 'ixsir.jpg'}}"
            alt="A photo of the Ixsir winery perched on the top of a hill among their Bekaa Valley vineyards"
            class="lazyautosizes lazyloaded"
            loading="lazy">
        </div>
        <div class="banner-grid__item__content">
          <div class="flag-icon-wrapper" title="Lebanon">
            <span class="flag-icon flag-icon-lb flag-icon-squared icon"></span>
          </div>
          <h2>Ixsir</h2>
          <span class="btn">Explore Ixsir</span>
        </div>
      </a>
    </div>

  </div>
</div>
