<div class="usp-wrap">
    <div class="container">
        <div class="usp-container">

            <div class="usp-block">
                <a href="/wine/" class="usp-link">
                    <div class="usp-content">
                        <i class="fal fa-wine-bottle icon"></i>
                        <p><span class="usp-main-txt">Save 10%</span>When you buy 12+ bottles</p>
                    </div>
                </a>
            </div>

            <div class="usp-block">
                <a href="/delivery/" class="usp-link">
                    <div class="usp-content">
                        <i class="fal fa-truck icon"></i>
                        <p><span class="usp-main-txt">Fast, Free Delivery</span>When you spend over
                            £50</p>
                    </div>
                </a>
            </div>


            <div class="usp-block">
                <a href="/great-wine-rewards" class="usp-link">
                    <div class="usp-content">
                        <i class="fal fa-star icon"></i>
                        <p><span class="usp-main-txt">Great Wine Rewards</span>Earn points and
                            recommend friends</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>