<div class="container">
    <div class="usp-container">

        <div class="usp-block">
            <a href="/wine/" class="usp-link">
                <div class="usp-content">
                    <i class="fal fa-truck icon"></i>
                    <p><span class="usp-main-txt">Free Delivery</span>When you spend over £100</p>
                </div>
            </a>
        </div>
        
        <div class="usp-block">
            <a href="/countries/south-africa/" class="usp-link">
                <div class="usp-content">
                    
                    <i class="fal fa-badge-percent icon"></i>
                    <p><span class="usp-main-txt">Winelands</span>Save on our South African Wines</p>
                </div>
            </a>
        </div>
        
        <div class="usp-block">
            <a href="/wine/" class="usp-link">
                <div class="usp-content">
                    <i class="fal fa-wine-bottle icon"></i>
                    <p><span class="usp-main-txt">Save 10%</span>When you buy 12+ bottles</p>            
                </div>
            </a>
        </div>

    </div>
</div>
