// =============================================================================
// SEARCH
// =============================================================================

.search-suggestion {
    margin-bottom: spacing("single") + spacing("third");

    > :last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    text-transform: inherit;
}

.advancedSearch-form {
    margin-bottom: spacing("double");

    .form-row {
        margin-bottom: -(spacing("single"));
    }
}

.quickSearchResults {
    margin-top: 0;

    @include breakpoint("medium") {
        position: absolute;
        background: white;
        width:280px;
    }

    @include breakpoint("large") {
        width: 400px;
    }

    .modal-close {
        display: none;

        @include breakpoint("medium") {
            display: block;
        }
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 spacing("single");
    text-transform: inherit;
}

.search-price-range {
    label {
        display: inline;

        // scss-lint:disable SelectorDepth, NestingDepth
        input {
            display: block;
            padding-left: spacing("single");

            @include breakpoint("small") {
                display: inline;
                width: 6rem;
            }
        }

        // scss-lint:disable SelectorDepth, NestingDepth
        span {
            @include breakpoint("small") {
                display: inline;
                padding-left: spacing("single");
                padding-right: spacing("single");
            }
        }
    }
}

.category-suggestion-list {
    @include grid-row($behavior: "nest");
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing("single");
}

.quickSearchMessage {
    font-size: fontSize("large");
    margin: (spacing("single") / 2) 0 ;
    text-align: center;
}


// Custom SCSS for GWW Fixed in header implementation

.dropdown--quickSearch, .navPages-quickSearch {
    
    .form-field {
        position: relative;

        .btn-search-clear-text {
            position: absolute;
            right: 45px;
            top: 50%;
            transform: translateY(-50%);
        }

        .btn-search-submit{
            position: absolute;
            right: 10px;
            top: 50%;
            height: 22px;
            transform: translateY(-50%);

            .search-icon {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.searching-text {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.quickSearchResults {
    @include breakpoint("medium"){
        border: 1px solid #cccccc;

        &:empty {
            border: none;
        }
    }
}

.previewSearchList {
    width: 100%;
    padding-top: 8px !important;

    a {
        text-decoration: none;
    }
}

.quickResultItem {
    list-style: none;
    line-height: lineHeight("smaller");
    width: 100%;
    display: flex;
    margin-bottom: 10px !important;
    border-right: 3px solid white;

    + .quickResultItem {
        border-top: container("border");
    }

    &:hover {
        color: $primary-color;
        border-color: $primary-color;
    }
}

.quickResultItem-image {
    @include grid-column(3, $float: false);
    padding: 0;
    text-align: center;
    position: relative;
    
    img {
        @include lazy-loaded-img;
        max-height: 80px;
        margin: 0 auto;
        height: 100%;
    }
}

.quickResultItem-content {
    @include grid-column(9, $float: false);
    padding-left: 0;
    font-size: 14px;
}

    .quickResultItem-price {

    .price-section {
        line-height: 1;
    }

    .price--withTax {
        font-size: 20px;
        font-weight: 600;
        margin-right: 5px;
    }

    .non-sale-price--withTax {
        float: none;
    }

    .price-saving {
        display: unset;
        font-size: 14px;
        margin-left: 5px;
    }
}

.quickResultItem-name {
    margin: 0;
    text-transform: none;
    font-weight: 500;

    > a {
        text-decoration: none;
    }
}

.quickResultItem-brand,
.quickResultItem-name {
    margin-bottom: spacing("eighth");
}

.quickResultItem-brand,
.quickResultItem-price {
    width: 100%;
    display: inline-block;
}

.search-buttons {
    display: flex;
    flex: 0 1 auto;

    @include breakpoint("medium") {
        flex-direction: column;
    }

    @include breakpoint("large"){
        flex-direction: row;
    }
}