---
blog:
    posts:
        limit: 12
        pages: 20
        summary: 200
---
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="page">
   
    <section class="category-header">
        <!-- <img src="{{cdn '/assets/img/blog-header-wine.jpg'}}" class="category-img" alt="Red Wine in Glass"></a> -->
        <div class="category-text">
            {{#unless theme_settings.hide_blog_page_heading }}
                <h1 class="stylised-title">{{ blog.name }}</h1>
            {{/unless}}
            <div class="category-description">
                <div class="desc-zone-top">
                    <div class="content-rich-intro"><div class="content-rich-intro">The team invite you to take a look at the latest news and peek into
                      the world of wine and its producers.</div></div>
                </div>
            </div>
        </div>
    </section>

    <div class="page-content blog-listing">
        {{#each blog.posts}}
            {{> components/blog/post-teaser post=this}}
        {{/each}}

    </div>
    {{> components/common/paginator pagination.blog theme_settings=../theme_settings}}

</div>

{{/partial}}
{{> layout/base}}
