---
brands:
    limit: 100
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    <div class="category-header">
        <h1 class="stylised-title">{{lang 'brand.label'}}</h1>
    </div>

    {{{region name="brands_below_header"}}}
    <ul class="brandGrid">
        {{#each brands}}
            <li class="brand">
                <article class="brand-card {{#if alternate}}card--alternate{{/if}}">
                    <figure class="brand-card-figure">
                        <a class="brand-card-figure__link" aria-label="{{name}}" href="{{url}}">
                            <div class="brand-card-img-container">
                                {{> components/common/responsive-img
                                    image=image
                                    class="brand-card-image"
                                    fallback_size=../theme_settings.brand_size
                                    lazyload=../theme_settings.lazyload_mode
                                    default_image=../theme_settings.default_image_brand
                                }}
                            </div>
                        </a>
                    </figure>
                    <div class="brand-card-body">
                        <h3 class="brand-card-title">
                            <a href="{{url}}">{{name}} {{brand.id}}</a>
                        </h3>
                    </div>
                </article>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brands}}
    {{{region name="brands_below_content"}}}
</section>
{{/partial}}
{{> layout/base}}
