---
brands:
    limit: 800
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class=>
    <h1 class="stylised-title">{{lang 'brand.label'}}</h1>
    {{> components/custom/producers-content}}
    {{{region name="brands_below_header"}}}
    <ul class="list-brands">
        {{#each brands}}
            <li class="brand">
                <a class="" aria-label="{{name}}" href="{{url}}">
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brands}}
    {{{region name="brands_below_content"}}}
</section>
{{/partial}}
{{> layout/base}}
