---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}
{{#partial "no-container"}}
    <div class="container">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true  }}
    </div>

{{/partial}}

{{#partial "page"}}

        {{{region name="product_below_content"}}}

        {{> components/products/tabs}}

        {{#if product.similar_by_views}}
            <div class="headed-carousel">
                <div aria-hidden="{{#if product.related_products}}true{{else}}false{{/if}}" class="tab-content has-jsContent{{#unless product.related_products}} is-active{{/unless}}" id="tab-similar">
                    <h3 class="page-heading-left stylised-medium">{{lang 'products.similar_by_views'}}</h1>
                
                    <div class="carousel-controls">
                        <div class="prev-arrow"><i class="fal fa-chevron-left"></i></div>
                        <div class="next-arrow"><i class="fal fa-chevron-right"></i></div>
                    </div>
                    
                    {{> components/products/carousel products=product.similar_by_views columns=4 list="Customers Also Viewed"}}
                </div>
            </div>
        {{/if}}

        {{> components/common/subscription-form}}
        {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
