{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        <h1 class="page-heading">
            {{#if subscription.error}}
                {{lang 'newsletter.subscribed_heading_error'}}
            {{else}}
                {{lang 'newsletter.subscribed_heading'}}
            {{/if}}
        </h1>
        
        {{#if subscription.error}}
        {{> components/common/alert-error subscription.error}}
        {{else}}
            <h3 class="discount-code">Use code WELCOME10 to receive £10 off your first order when you spend over £50</h3>
            <div id="newsletter-success">
                {{> components/common/alert-success (lang 'newsletter.subscribed_message')}}
            </div>
        {{/if}}

        <div class="newsletter-cta-cont">
            <a href="/wine/" class="button button--primary newsletter-cta">Browse all Wines</a>
            <a href="/spirits/" class="button button--primary newsletter-cta">Browse all Spirits</a>
            <a href="/offers/" class="button button--primary newsletter-cta">Browse all Offers</a>
        </div>

    </div>
</section>

{{/partial}}
{{> layout/base}}
