<div class="modal-header">
    <p class="modal-basket-quantity" data-cart-quantity="{{cart.quantity}}" aria-hidden="true" aria-label="Basket Quantity">
        {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
    </p>
</div>

<div class="modal-previewCart">
    <section class="previewCartProduct">
        {{#with cart.added_item}}
            <div class="previewModal-img">
                {{> components/common/responsive-img
                    image=image
                    fallback_size=../theme_settings.product_size
                    lazyload=../theme_settings.lazyload_mode
                    default_image=../theme_settings.default_image_product
                }}
            </div>

            <div class="previewCartProduct-content">
                <h3 class="previewCartProduct-name">
                    {{name}}
                </h3>

                <div class="previewCartProduct-brand">
                    {{brand.name}}
                </div>

                <div class="previewCartProduct-price">
                    {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        You've added {{quantity}} &times; {{price.formatted}}
                    {{/or}}
                </div>

                {{#each options}}
                    <dl class="previewCartProduct-info">
                        <dt class="productView-info-name">
                            {{name}}
                        </dt>
                        <dd class="productView-info-value">
                            {{value}}
                        </dd>
                    </dl>
                {{/each}}
            </div>
            
            {{/with}}
            

    </section>
            <div class="previewCartProduct-basketSubtotal">
                {{lang 'cart.added_to_cart.order_subtotal'}}
        
                <strong class="modal-basket-total-price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{cart.sub_total.formatted}}
                    {{/or}}
                </strong>
            </div>
    <div class="previewCartAction">
        <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
            <a href="{{urls.cart}}" class="button button--small button--action">
                {{lang 'cart.preview.view_cart'}}
            </a>
        </div>
        
        {{#if cart.show_multiple_address_shipping}}
        <div class="previewCartAction-checkoutMultiple">
            <a href="{{urls.checkout.multiple_address}}">
                {{lang 'cart.preview.checkout_multiple'}}
            </a>
        </div>
        {{/if}}

        {{#if cart.show_primary_checkout_button}}
            <div class="previewCartAction-checkout">
                <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">
                    {{lang 'cart.preview.checkout_now'}}
                </a>
            </div>
        {{/if}}
    </div>
</div>
