// =============================================================================
// ACTION BAR (CSS)
// =============================================================================

.actionBar {
    @include breakpoint("medium") {
        min-width: 264px;
        margin: 0;
        margin-top: 5px;
    }
}

.actionBar-section {

    .form-field {
        background-color: $input-bg-color;
        overflow: hidden;
        margin: 0;

        // scss-lint:disable NestingDepth
        &:hover {
            border-color: stencilColor("input-border-color-active");
        }
        // scss-lint:enable NestingDepth
    }

    .form-label {
        color: $actionBar-form-label-color;
        font-size: $actionBar-form-label-fontSize;
        line-height: $actionBar-form-label-lineHeight;
        margin-bottom: 0;
        padding-left: ($actionBar-form-label-padding / 2);
        cursor: default;
    }

    .form-input,
    .form-select {
        border: 0;
        padding-left: $actionBar-form-input-padding;
        width: auto;

        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    .form-label,
    .form-input,
    .form-select {
        display: inline-block;
    }

    .form-select {
        color: stencilColor("color-textLink");
        height: $input-small-height - remCalc($input-border-width * 2);
    }
}

.change-list-view {
    display: none;

    @include breakpoint("medium") {
        display: inline-block;
        margin: 2px 0 0 10px;

        .icon {
            height: 30px;
            width: 30px;
        }
    }
}