<nav>
    {{> components/category/category-header}}

    <div class="filter-sort-cont">

        {{#if category.faceted_search_enabled}}
            {{> components/faceted-search/index category}}
        {{else}}
            {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
        {{/if}}

        {{#if product_results.products.length}}
            {{> components/products/filter sort=pagination.product_results.sort}}
        {{/if}}

    </div>

</nav>
