// =============================================================================
// ICONS (CSS)
//
// 1. Hide the SVG sprite with CSS, not inline styles
// =============================================================================

.icons-svg-sprite {
    display: none; // 1
}

.icon,
.icon svg {
    transition: all 0.15s ease;
}

.icon::after {
    display: none;
}

.text-icon {
    font-family: fontFamily("headingSans");
    font-size: 1.3rem;
    font-weight: bold;
}

.product-card-icons {
    position: absolute;
    top: 0;
    left: 10px;
}

.product-card-icon-cont {
    height: 38px;
    width: 38px;
    background: $blue-grey-lt;
    border-radius: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-bottom: 10px;

    .svg-inline--fa {
        height: 70%;
        width: 70%;

        &.fa-medal {
            margin-top: 5px;
        }

        &.fa-leaf {
            height: 60%;
            width: 60%;
        }
    }

    .flag-icon {
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}

.no-decoration {
    text-decoration: none;
}