<main class="body" id="main-content" role="main" data-currency-code="{{currency_selector.active_currency_code}}">
    <!-- Temporary Christmas delivery banner -->
    <div style="background:#b8361f; border-bottom: 1px solid #1f262a;width:100%; padding:0; text-align:center;">
      <style>
        .banner-link {
          color: #ffffff;
          text-decoration: none;
        }
    
        .banner-flex-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: baseline;
          align-content: center;
          gap: 0.25em 0.5em;
          padding: 1em 0.5em 0.5em;
          height: auto;
          line-height: 1;
          padding: 0.5em 0;
          margin: 0;
          width: auto;
          text-transform: none;
          font-weight: normal;
          font-family: "HelveticaNowTextRegular", Helvetica, Arial, sans-serif;
          font-size: 0.75em;
        }
    
        .banner-link:hover,
        .banner-link:active {
          color: #ebe7dc;
        }
    
        .banner-header {
          display: none;
          font-size: 1.25em;
          font-family: "JuanaRegular", Arial, Helvetica, sans-serif;
          color: #ebe7dc;
        }
    
        .banner-countdown {
          font-variant-numeric: tabular-nums;
          font-weight: bold;
          color: #ebe7dc;
        }
    
        .banner-countdown {}
    
        @media (min-width: 768px) {
          .banner-flex-container {
            gap: 0.25em 1em;
          }
    
          .banner-header {
            display: block;
            font-size: 1.5em;
          }
    
          .banner-header small {
            display: inline;
          }
        }
    
        @media (min-width: 997px) {
          .banner-flex-container {
            gap: 2em;
            font-size: 1rem;
          }
        }
      </style>
      <a href="/delivery/" class="banner-link">
        <div class="gwc-flex banner-flex-container" style="max-width:1000px; margin:0 auto;">
          <div class="banner-header">Christmas orders</div>
          <div class="banner-body">Order by 3pm Thursday 18 December for Christmas delivery</div>
          <div class="banner-countdown"><span class="countdown" data-ends="2025-12-18T15:00:00.000Z"
              data-format="{d} days {hh}:{mm}:{ss}"
              data-now='{{moment "now" "YYYY-MM-DDTHH:mm:ss.SSSZ"}}'>8 days 88:88:88</span>
          </div>
        </div>
      </a>
    </div>
    <script src="https://cdn.greatwine.co.uk/static/countdown.min.js" defer></script>
    <!-- End temporary Christmas delivery banner -->

    {{#block "hero"}} {{/block}}
    {{#block "no-container"}} {{/block}}
    <div class="container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</main>
