{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <div class="footer-details">
                <img src="{{cdn 'assets/img/great-western-wine-logo-white.png'}}" class="footer-logo" alt="White Great Western Wine Logo" />
                {{> components/common/social-links}}

                {{#if settings.address}}
                <article data-section-type="storeInfo">
                    <address>{{nl2br settings.address}}</address>
                    {{#if settings.phone_number}}
                        {{settings.phone_number}}
                    {{/if}}
                </article>
                {{/if}}
            </div>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.help'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/contact-us/">Contact Us</a></li>
                    <li><a href="/delivery/">Delivery</a></li>
                    <li><a href="/returns/">Returns</a></li>
                    <li><a href="/">Terms & Conditions</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                    <li><a href="/">Modern Slavery Act</a></li>
                    <li><a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.careers'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/">Work with us</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.about_us'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/">Our Story</a></li>
                    <li><a href="/">Our Team</a></li>
                    <li><a href="/">Our Shop</a></li>
                    <li><a href="/">Why Choose us?</a></li>
                    <li><a href="/">Press Coverage</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.service'}}</h5>
                <ul class="footer-info-list">
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">Occasions</a></li>
                    <li><a href="/">Accounts</a></li>
                </ul>
            </article>

            <article class="footer-info-col" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
    </div>
    {{#if theme_settings.show_copyright_footer}}
        <div class="footer-copyright">
            <div class="container">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
                <div class="drink-aware-cont">
                    <a href="https://www.drinkaware.co.uk">
                        <img src="{{cdn 'assets/img/drinkaware-logo-white.png'}}" alt="Drink Aware logo">
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
    </div>
</footer>
