{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info">
            <div class="footer-details">
                <img src="{{cdn 'assets/img/great-western-wine-logo-white-on-black.svg'}}" class="footer-logo" alt="White Great Western Wine Logo" />
                {{> components/common/social-links}}

                {{#if settings.address}}
                <article data-section-type="storeInfo">
                    <address>{{nl2br settings.address}}</address>
                    {{#if settings.phone_number}}
                        {{settings.phone_number}}
                    {{/if}}
                </article>
                {{/if}}
            </div>
            
            <div class="footer-row">
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">Legal</h5>
                    <ul class="footer-info-list">
                        <li><a href="/terms-conditions/">Terms & Conditions</a></li>
                        <li><a href="/promotional-terms-conditions/">Promotional Terms & Conditions</a></li>
                        <li><a href="/privacy/">Privacy</a></li>
                        <li><a href="/modern-slavery-act/">Modern Slavery Act</a></li>
                        <li><a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a></li>
                    </ul>
                </article>
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'footer.about_us'}}</h5>
                    <ul class="footer-info-list">
                        <li><a href="/our-story/">Our Story</a></li>
                        <li><a href="/our-team/">Our Team</a></li>
                        <li><a href="/blog/">Our Blog</a></li>
                    </ul>
                </article>

            </div>

            <div class="footer-row">
                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">Shopping</h5>
                    <ul class="footer-info-list">
                        <li><a href="/our-shop/">Our Shop</a></li>
                        <li><a href="/occasions/">Occasions</a></li>
                        <li><a href="/courses-events/">Courses and Events</a></li>
                        <li><a href="/wine-school/">Wine School</a></li>
                    </ul>
                </article>

                <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">Help</h5>
                    <ul class="footer-info-list">
                        <li><a href="/delivery/">Delivery</a></li>
                        <li><a href="/returns/">Returns</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                    </ul>
                </article>
            </div>

        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
    </div>
    {{#if theme_settings.show_copyright_footer}}
        <div class="footer-copyright">
            <div class="container">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} - Registered in England: 1071904</p>
                <div class="drink-aware-cont">
                    <a href="https://www.drinkaware.co.uk">
                        <img src="{{cdn 'assets/img/drinkaware-logo-white.png'}}" alt="Drink Aware logo">
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
</footer>
