<div class="home-banner-grid">
    <div class="home-banner-full">
        <a href="{{url}}">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/home-banner-full-test.png?t=1572613120&_ga=2.51135535.708172481.1572256188-141329899.1567428912">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Save up to 20%</p>
                    <h1 class="banner-title">Wines of the Cape</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>
    <div class="home-banner-half">
        <div class="banner-cont">
            <div class="banner-image-wrapper">
                <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/home-banner-half-test-1.png?t=1572613894&_ga=2.75614355.708172481.1572256188-141329899.1567428912">
            </div>
            <div class="banner-content">
                <p class="banner-description">Our top producer</p>
                <h1 class="banner-title">Ken Forrester</h1>
                <span class="btn btn-coral-line">Shop now</span>
            </div>
            
        </div>
    </div>
    <div class="home-banner-half">
        <div class="banner-cont">
            <div class="banner-image-wrapper">
                <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/home-banner-half-test-2.jpg?t=1572613895&_ga=2.75614355.708172481.1572256188-141329899.1567428912">
            </div>
            <div class="banner-content">
                <p class="banner-description">October's Producer</p>
                <h1 class="banner-title">Thelema</h1>
                <span class="btn btn-coral-line">Shop now</span>
            </div>
            
        </div>
    </div>
</div>