<div class="home-banner-grid">

    <div class="home-banner-full">
        <a href="#">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/home-banner-full-test.png?t=1572613120&_ga=2.51135535.708172481.1572256188-141329899.1567428912">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Amazing savings on dozens of wines</p>
                    <h1 class="banner-title">Bin Ends</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="#">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/timbachsmall2.jpg?t=1572861634&_ga=2.3661497.847482983.1573474465-1212849575.1570699306">
                </div>
                <div class="banner-content">
                    <p class="banner-description">Our top producer</p>
                    <h1 class="banner-title">Trimbach</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="#">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/sierra2.jpg?t=1572861634&_ga=2.3797689.847482983.1573474465-1212849575.1570699306">
                </div>
                <div class="banner-content">
                    <p class="banner-description">October's Producer</p>
                    <h1 class="banner-title">Sierra Cantabria</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>
    
</div>