<div class="home-banner-grid">

    <div class="home-banner-full">
        <a href="https://staging.greatwesternwine.co.uk/offers/january-sale/best-under-10/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/best-under-10.png?t=1577193959&_ga=2.228206037.930889640.1577100458-1065216460.1534774292">
                </div>
                <div class="banner-content">
                    <p class="banner-description">January Sale - save up to 50%</p>
                    <h1 class="banner-title">Best under £10</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="https://staging.greatwesternwine.co.uk/offers/january-sale/red-wine/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/red-wine.png?t=1577193960&_ga=2.195119204.930889640.1577100458-1065216460.1534774292">
                </div>
                <div class="banner-content">
                    <p class="banner-description">January Sale - save up to 50%</p>
                    <h1 class="banner-title">Red Wine</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>

    <div class="home-banner-half">
        <a href="https://staging.greatwesternwine.co.uk/offers/january-sale/white-wine/">
            <div class="banner-cont">
                <div class="banner-image-wrapper">
                    <img src="https://cdn11.bigcommerce.com/s-1ev3losdup/product_images/uploaded_images/white-wine.png?t=1577193961&_ga=2.195119204.930889640.1577100458-1065216460.1534774292">
                </div>
                <div class="banner-content">
                    <p class="banner-description">January Sale - save up to 50%</p>
                    <h1 class="banner-title">White Wine</h1>
                    <span class="btn btn-coral-line">Shop now</span>
                </div>
            </div>
        </a>
    </div>
    
</div>