<div class="container">
    <div class="usp-container">
        <div class="usp-block">
            <i class="icon">
                <svg><use xlink:href="#icon-delivery-truck"></use></svg>
            </i>
            <p>
                <span class="usp-main-txt">Free Delivery</span>
                When you spend over £100
            </p>
        </div>
        <div class="usp-block">
            <i class="icon">
                <svg><use xlink:href="#icon-sun"></use></svg>
            </i>
            <p>
                    <span class="usp-main-txt">Summer Sale</span>
                    Save up to 50%
                </p>
        </div>
        <div class="usp-block">
            <i class="icon">
                <svg><use xlink:href="#icon-percentage"></use></svg>
            </i>
            <p>
                    <span class="usp-main-txt">Save 10%</span>
                    When you buy 12+ bottles
                </p>
        </div>
    </div>
</div>