// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");
    margin: 0;

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: (spacing("base") / 2);

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(8, $total-columns);
    }
}

.productView-description-cont {
    padding: 0;
    margin: 15px 0 30px 0;

    // .productView-description {
    //     @include breakpoint("medium") {
    //         clear: both;
    //         float: none;
    //         width: 100%;
    //     }
    // }
}

// Mixed Case Description utility
.productView-mixed-desc {
    .mixed-desc-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 25px;
        
        @include breakpoint("small") {
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }

        @include breakpoint("large") {
            gap: 50px;
        }

        .mixed-desc-main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            
            @include breakpoint("small") {
                flex-shrink: 0;
                flex-basis: 45%;
                min-width: 320px;
            }

            img {
                max-height: 125px;
            }

            .mixed-desc-info {
                flex: 1 0;
            }

            p {
                margin: 0;
            }
        }

        .mixed-desc-stats {
            display: flex;
            column-gap: 40px;
            flex-wrap: wrap;
            
            @include breakpoint("small") {
                justify-content: space-between;
            }

            @include breakpoint("medium") {
                justify-content: flex-start;

                span:nth-child(2) {
                    margin-left: 20px;
                }
            }
        }
        
        .mixed-desc-notes {
            flex-shrink: 1;
            flex-grow: 1;
            @include breakpoint("small") {
                text-align: center;
                flex-basis: 55%;
            }

            p {
                margin: 0;
            }
        }
    }
}


// Flavours

.productView-flavour-cont {

    margin-bottom: 2rem;

    h3 {
        font-family: $fontFamily-headings;
        line-height: 1;
        font-size: 24px;
        margin-bottom: 1rem;
        margin-top: 0;
        text-align:center;
    }
    
    .flavour-list {
        display: flex;
    }
}

.productView-flavour {
    width: 25%;
    text-align: center;

    .icon {
        display: inline-block;
        width: 100%;
        height: 36px;
        font-size: 36px;
    }
}

// Curator Quote

.productView-paragraph {
    position: relative;

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
        text-align: center;

        &.icon-people {
            font-size: 2rem;
            margin-top: 5px;
        }
    }
    
    p, blockquote {
        padding-left: 50px;
        padding-top: 6px;
        font-size: 16px;
        font-style: italic;

        footer {
            font-weight: 600;
            text-align: right;
        }
    }
}
