// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel { // 1
    width: 1px;
    min-width: 100%;
    @include grid-row(
        $behavior: nest
    );
}

.productCarousel-slide { // 1
    @include grid-column(6);

    @include breakpoint("small") {
        width: grid-calc(6, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(3, $total-columns);
    }

    .card {
        margin-bottom: 0;

        .card-title {
            overflow-wrap: break-word;
        }
    }

    .wishlist-grid-view {
        .dropdown-menu {
            bottom: 7px !important;
            top: auto !important;
            left: -228px !important;

            &:before {
                top: auto;
                bottom: -10px;
                right: 18px;
                border-left: 7px solid $buttonStyle-default-borderColor;
                border-right: 0;
            }
        
            &:after {
                top: auto;
                bottom: -8px;
                right: 18px;
                border-left: 7px solid white;
                border-right: 0;
            }
        }
    }
}

.headed-carousel {
    margin-top: 20px;

    @include breakpoint("medium") {
        margin-top: 30px;
    }

    .stylised-medium {
        margin-bottom: 10px;

        @include breakpoint("medium") {
            margin-bottom: 1.5rem;
        }    
    }

    .carousel-controls {
        width: auto;
        display: inline-flex;
        flex-direction: row;
        margin-bottom: 20px;

        .prev-arrow, .next-arrow {
            display: inline-block;
            font-size: 20px;
            margin: 0 10px;
            cursor: pointer;
        }

        .prev-arrow {
            margin-left: 10px;
            order: 1;
        }

        .slick-dots {
            position: relative;
            display: inline-block;
            width: auto;
            bottom: auto;
            margin-top: -3px;
            order: 2;
        }

        .next-arrow {
            order: 3
        }

        @include breakpoint("medium") {
            margin-bottom: 0;
        }
    }
    
    @media screen and (min-width: 801px) and (max-width: 886px){
        .card-img-container {
            padding-bottom: 200px;
        }

        .card-image {
            min-height: 50px;
        }
    }
}
