// =============================================================================
// BRAND GRID (CSS)
// =============================================================================


// Brand grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .brandGrid class.
//
// -----------------------------------------------------------------------------

.brandGrid {
    display: grid;
    grid-template-columns: 1fr;
    @include u-listBullets("none");

    @include breakpoint("medium") {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint("large") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
