// =============================================================================
// PRICE (CSS)
// =============================================================================

.price--rrp,
.price--non-sale,
.price--discounted {
    text-decoration: line-through;
}

.price-section--minor {
    color: color("greys", "light");
}

.price--withTax {
    font-size: 30px;
    font-weight: $fontWeight-bold;

}

.price-section {
    display: inline-block;
    line-height: 2.2rem;
}

.non-sale-price--withTax {
    float: right;
    text-align: right;
    line-height: 1rem;
}

.price-saving {
    display: block;
    color: $color-warning;
    font-weight: 600;
    font-size: 17px;
}

.multibuy-cont {
    background-color: $xl-green;
    width: 100%;
    padding: 7px 7px; 
}

.multibuy-only-label {
    font-size: 14px;
}

.multibuy-price {
    font-size: 32px;
    font-weight: $fontWeight-bold;
}

.multibuy-label {
    display: inline-block;
    max-width: 45%;
    margin: 0;
    font-size: 14px;
    line-height: 0.9rem;
}